[2019-02-23 23:44] haibeey opened #1 "java.lang.NullPointerException: println needs a message"
I get the following error any time i try to to spawn a new FlutterIsolate

E/MethodChannel#com.rmawatson.flutterisolate/control(10197): Failed to handle method call
E/MethodChannel#com.rmawatson.flutterisolate/control(10197): java.lang.NullPointerException: println needs a message
E/MethodChannel#com.rmawatson.flutterisolate/control(10197): 	at android.util.Log.println_native(Native Method)
E/Meth

[2019-02-23 23:59] rmawatson commented on #1
try pull the the latest changes from here.

The problem you are seeing is there is an exception thrown [here](https://github.com/rmawatson/flutter_isolate/blob/29b8922b0dce1e7185b5045d1974aa8e877fc2cb/android/src/main/java/com/rmawatson/flutterisolate/FlutterIsolatePlugin.java#L91) and getmessage() is empty. I have since updated to give a more informative message. But if you are seeing this, one o

[2019-02-24 00:35] haibeey commented on #1
For the part where you spoke of a registered plugin failing I intentionally left the main (which I have change the name but) method to see the result but the error still persist.

I have change the main method name and string passed to different names.

Also I'm not using any plugin I made my self I'm only using the flutter_notification and cloud_firestore package   .

[2019-02-24 17:38] rmawatson commented on #1
I just tried with this "flutter_local_notification" package, I assume that is the one you mean? appears to work ok for me. You can try updating to the latest from flutter packages.

[2019-02-24 17:46] #1 closed

[2019-02-24 17:54] haibeey commented on #1
Did you try using cloud_firestore?

Would be nice to know the version of flutter_notification you are using and also your sample implementation which works fine

[2019-02-24 18:10] rmawatson commented on #1
I'm using `flutter_local_notifications `.. I can't find another package, 0.5.2 apparently. I've not tried cloud_firestore. I pushed an update to flutter packages, did you try that?

[2019-03-08 14:17] vishna opened #2 "userMessage can only be String?"
https://github.com/rmawatson/flutter_isolate/blob/master/lib/flutter_isolate.dart#L121

[code]

[2019-03-08 21:05] rmawatson commented on #2
No, my mistake, that should be any Object.

[2019-03-08 21:10] #2 closed

[2019-03-09 08:55] vishna opened #3 "MissingPluginException when using sqflite via flutter_isolate"
Crossposting for reference: https://github.com/tekartik/sqflite/issues/169

Unsure if this is expected but the other plugin I use `flutter_secure_storage` works just fine in my [flutter isolate](https://github.com/rmawatson/flutter_isolate) while `sqflite` is giving me this error:

[code]

[2019-03-09 17:35] #3 closed

[2019-03-09 17:49] vishna opened #4 "iOS build fail"
Sorry to bother, I don't seem to be able to make a build for iOS simulator anymore:

[code]

[code]

Removing the flutter_isolate plugin makes the build pass.

[2019-03-09 17:54] rmawatson commented on #4
try update your packages, I thought I had just fixed that issue ( like 5 minutes ago)

[2019-03-09 18:17] vishna commented on #4
yes, good job!

[2019-03-09 18:17] #4 closed

[2019-03-09 21:25] vishna opened #5 "cannot use compute in the iOS FlutterIsolate"
It might be something I'm doing wrong but on Android the following code piece...

[code]

...will just work and get you this output:

[code]

...whereas iOS Simulator will give you the following

[code]

Is this an expected outcome?

[2019-03-09 23:21] rmawatson commented on #5
[This ]( https://github.com/flutter/flutter/issues/14815) is possibly related?

[2019-03-10 07:38] vishna commented on #5
It could be though it also looks like something iOS related - e.g. using sqflite from flutter_isolate also fails (silently) while working just fine on Android.

[2019-03-10 14:04] vishna commented on #5
the sqflite issue I was getting was [fixed here](https://github.com/tekartik/sqflite/commit/652979194de6e10352cfa096772865671799a817) so I guess it's just that `Isolate.resolvePackageUri` thing now

[2019-03-30 19:46] jasonkaruza commented on #5
I too am having an issue with getting it to work on iOS in release mode. The following error occurs when trying to download an image from a URL:

[code]

[2019-03-30 21:14] rmawatson commented on #5
that can't be the whole error. without trying it, I have no idea. Have you tried narrowing it by stepping through the code and seeing where this actually occurs ?

[2019-04-08 20:11] acherkashyn opened #6 "How does the main isolate get notified of flutter_isolate work completion?"
I think I'm missing something pretty obvious here, but how do I know that flutter_isolate has completed computation passed into the `spawn` method? Is there a callback to be notified, or a future to subscribe to?

[2019-04-08 20:58] rmawatson commented on #6
pass in a SendPort as the argument like with a regular isolate and use this for notifying your main isolate.

[2019-04-09 09:34] windrunner414 opened #7 "FlutterIsolatePlugin.java use unchecked or unsafe operation"
When i run app i got this warning,how to fix it

[2019-04-10 06:56] windrunner414 opened #8 "Illegal argument in isolate message : (object is a regular Dart Instance)"
can't send a object instance

[2019-04-10 08:50] rmawatson commented on #8
there is no error ,sample ordetail.

[2019-04-10 08:50] #8 closed

[2019-04-10 08:52] rmawatson commented on #7
remove use of FlutterIsolate should fix this.

[2019-04-10 08:52] #7 closed

[2019-04-12 03:59] windrunner414 commented on #8
any object instance can't be sent.I think methodchannel does not support send it

[2019-04-16 23:21] acherkashyn commented on #6
Thank you, that makes sense.

[2019-04-16 23:21] #6 closed

[2019-05-21 21:32] Sitiritis opened #10 "Isolates messaging"
Is there a way to send a message from the main isolate to the created Flutter isolate?

[2019-05-21 22:06] rmawatson commented on #10
pass a sendPort in when you spawn it. Exactly the same as you would with a regular isolate

[2019-05-21 22:06] #10 closed

[2019-05-21 23:31] Sitiritis commented on #10
[code]
I don't quite get how to pass a sendPort, when I spawn it, as there is no argument for the sendPort in the `spawn` method. Could you show an example, please?

[2019-05-23 03:26] naeem-hasan opened #11 "How to get the return value?"
Say I have an async function that returns an integer. When I launch the isolate with FlutterIsolate.spawn, how do I get that integer value?
Basically, I just require a 'compute' alternative to run plugins in an isolate. Thanks!

[2019-05-23 03:29] naeem-hasan commented on #11
Nevermind. I have to use ports.

[2019-05-23 03:29] #11 closed

[2019-06-05 15:53] shinyford opened #12 "Android null pointer exception"
Hi

First off, let me just say that I've been looking for something like this for ages. Isolates are, IMHO, virtually unusable without it, so thanks hugely.

Secondly: it's working well for me on iOS, but on Android I repeatedly hit the following null pointer exception:

[code]

I can see that you've introduced a custom registrant through the commits; but I wonder if it's working as expected? (Sor

[2019-06-05 22:04] rmawatson commented on #12
Nic, what the plugin your trying to get working with this?

The message your seeing is usually because the specific plugin that your registering is using registrar.activity() when it registers itself with flutter, which is not available during the registration when using a 'FlutterIsolate'.

Depending on the plugin, it's often the case that it doesn't actually need an activity, but a context will

[2019-06-08 15:30] vikramkapoor opened #13 "How to use flutter_blue with flutter_isolate?"
Thank you for writing this plugin. I am trying to use flutter_blue with this to listen to bluetooth notifications in background. However, I always get state = BluetoothState.unknown from the background isolate when I check flutterBlue.state. The same call gets state = BluetoothState.on from the foreground. Am I using this correctly?

void isolate1(SendPort sendPort) async {

FlutterBlue flutterBlu

[2019-06-10 04:24] vikramkapoor commented on #13
I fixed this issue by creating a custom registrant.  Generated registrant has a lot of plugins which were trying to register an Activity from background isolate which led to an error that prevented Flutter_blue registration.

[2019-06-10 04:24] #13 closed

[2019-06-11 17:40] shinyford commented on #12
Hi - apologies for the late reply, and thanks for the very full explanation.

Specifically I was trying to use two plugins: `flutter_native_image` and `firebase_storage`. I'll take a look at those two, to see if forking and replacing `activity`s with `context`s is a possibility. I'll let you know how it goes, and if anything else needs to be looked at.

Cheers!

Nic

[2019-06-11 20:17] shinyford commented on #12
Okay - so, I've removed `flutter_native_image` from the equation, leaving only `firebase_storage`. That looks like it already uses a `context` rather than an activity:

[code]
and I can find no reference to an `activity` anywhere in the java code within that package. Nonetheless, the null pointer error is occuring when I try to push an image to Firebase storage using `ref.putFile`.

Any insights g

[2019-06-11 22:14] rmawatson commented on #12
Have you looked at the call stack to see how/when this is being called?

without any context it's hard to say.

[2019-06-18 07:25] chunhunghan opened #14 "Is it possible to work under sleep mode?"
Thank you for your amazing work.
I have tested with the following code in real device, and I found when Android enter sleep mode for a while. The Timer stop to send notification.
Is it possible to work under sleep mode, or my code just have bugs.
Thanks.

	import 'package:flutter_isolate/flutter_isolate.dart';
	import 'dart:async';
	import 'package:flutter/material.dart';
	import 'dart:isolate';

[2019-06-18 09:30] chunhunghan commented on #14
sorry my bad. Change Timer counter to local variable. Thanks.

[2019-06-18 09:30] #14 closed

[2019-07-31 05:16] SpiciedCrab opened #15 "Another flutter engine is created.."
Though it's an awesome solution to make the isolates support the plugins or channels , the solution seems to create a new flutter engine then mark it as the root isolate , all the messages or operations will be finished on it.
So I guess it may raise some memory issues if two engines exists at the same time....

[2019-07-31 12:26] theSharpestTool opened #16 "Unable to send any object via SendPort"

[2019-07-31 12:26] #16 closed

[2019-07-31 12:32] theSharpestTool opened #17 "Cannot send any object to isolate"
[code]
[code]
It works when sending String or List but doesn`t work with any custom object

[2019-07-31 17:38] rmawatson commented on #17
[From the dart documentation](https://api.dartlang.org/dev/2.2.0-dev.2.0/dart-isolate/SendPort/send.html)

[2019-07-31 17:38] #17 closed

[2019-07-31 20:38] rmawatson commented on #15
yes, its probably not ideal. Although I don't know how much memory launching another engine actually uses, I suspect there is a lot of stuff loaded that doesn't need to be and is left unused. Unfortunately there is nothing more granular in the api that I could see for launching dart code in another isolate.

[2019-08-05 14:08] MichealReed commented on #13
@vikramkapoor mind sharing your updated code?

[2019-08-05 15:31] MichealReed opened #18 "NoSuchMethodError (NoSuchMethodError: The method 'toRawHandle' was called on null."
I am trying to use isolates to initiate a bluetooth and socket connection from inside a bloc. When I try from main, I do not receive this error, but for some reason I am getting this NoSuchMethodError. It may be the fact that I am calling the isolate from a stream. Any thoughts?

![image](https://user-images.githubusercontent.com/12153323/62476028-de45a280-b76b-11e9-88c1-62165efc896c.png)

[2019-08-05 15:39] MichealReed commented on #18
I found this issue in the background repo, but I don't quite understand how to apply the solution here.

https://github.com/transistorsoft/flutter_background_fetch/issues/26

[2019-08-05 15:55] rmawatson commented on #18
The problem lies with
[code]

This `userEntryPointId` here is a handle is passed to android/ios and used for launching the isolate with the native stuff.

`PluginUtilities` is part of `dart:isolate` I think, or one of the other packages I import in `flutter_isolate.dart`.

You can try and import it yourself and see why `PluginUtilities.getCallbackHandle(isoalte2)` is returning `null`.

is it possi

[2019-08-05 16:21] MichealReed commented on #18
Thanks for pointing me in the right direction. `PluginUtilities.getCallbackHandle()` requires a static or top-level function to work. Simply adding static in front of my isolate function worked well.

More info:
https://stackoverflow.com/questions/54149840/flutter-android-alarm-manager-not-working

[2019-08-05 16:23] #18 closed

[2019-08-05 16:50] rmawatson commented on #18
awesome, glat that sorted it!

[2019-08-06 15:18] BeDaut commented on #12
@rmawatson
Hello, your library is awesome but I have the same warning:
[code]

as I get from your message it's because I use [camera plugin](https://pub.dev/packages/camera) and [url launcher plugin](https://pub.dev/packages/url_launcher) - both of them use `activity()`

So, without forking and fixing those libraries myself (if they really don't need `activity()` and can get by just 'context()') I

[2019-08-06 15:32] MichealReed opened #19 "Flutter_Blue background scanning with flutter_isolate"
For some reason, I cannot get flutter blue to scan properly when placed in an isolate. It initiates the scanning process, but no results are ever returned. I have tried to separate the scanning into the foreground and access/connect to the device in the background, but it results in a null reference error because I am attempting to access memory out of scope. The screenshot below uses @rmawatson's

[2019-08-06 17:58] rmawatson commented on #12
Yes,  you will likely not be able to use `camera plugin` in the background. Never used this but It probably relies on having an `activity` - this is just a guess. If you are trying to use *something else* in the background, but its failing on `camera plugin`, by default for each `flutter_isolate` started, all plugins that the main application isolate is using will (try to) be loaded. This is done

[2019-08-06 18:35] BeDaut commented on #12
Thanks for the fast response! :)

I'm using video from camera plugin and sending some frames to backend, but before sending I'm cropping and compressing them - it causes stutters in the UI. These operations (cropping and compressing) I'm trying to put in isolate.

Sorry, I'm not at work currently and can't show examples of code, I can provide them if you need tomorrow.

I'm able to use camera in t

[2019-08-06 19:27] MichealReed commented on #19
Was able to get this working with @rmawatson's PR, but not for my merges. There is also an issue with flutter that makes this only compatible with earlier releases. I am using v1.5.3.

[2019-08-06 19:29] MichealReed commented on #14
@chunhunghan could you please elaborate on your fix? Is the timer required? I am running background processes with bluetooth and my process tops after about 15 minutes of the device going to sleep.

[2019-08-07 00:51] chunhunghan commented on #14
variable counter in function _checkTimer have to use local variable.

	static void _checkTimer(SendPort sendPort) async {
		int counter = 0;
		Timer.periodic(new Duration(seconds: 60), (Timer t) {
		  counter++;
		  String msg = 'notification ' + counter.toString();
		  print('SEND: ' + msg);
		  //sendPort.send(msg);
		  sendPort.send(counter);
		});
	  }

There is also a package https://pub.dev/

[2019-08-14 22:52] rydal opened #20 "Does not continue to show local notifications when app killed."
Thanks for this plugin.

It runs fine when the application is running but when i kill the application it stops running. I think it's because the context is missing.

I've spwanwed the isolate using :

main() async {
  var initializationSettingsAndroid =
new AndroidInitializationSettings('appicon');
var initializationSettingsIOS = new IOSInitializationSettings();
var initializationSettings = new In

[2019-08-15 08:10] allenbrunson commented on #12
i am in the same boat: probably 20 plugins, i only need two or three in background isolates, crashes during registration.

you say it's only a few lines of code to write a CustomPluginRegistrant, but i have no idea how to do that. googling has not helped. maybe update the docs for those of us who have never done that before?

[2019-08-15 12:55] rydal commented on #20
08-15 13:35:01.805  9701 11852 I FontsPackageChangeOp: Package org.mysite.grr has no metadata
08-15 13:35:02.172 11831 11831 W penguin.grr: type=1400 audit(0.0:107): avc: denied { execute } for path="/data/data/org.mysite.grr/app_flutter/flutter_assets" dev="dm-0" ino=22113 scontext=u:r:untrusted_app:s0:c512,c768 tcontext=u:object_r:app_data_file:s0:c512,c768 tclass=dir permissive=0
08-15 13:35:02

[2019-08-28 09:33] TannerYoung opened #21 "Document whether the isolate continues to run after the app is killed."
From my experimentation I can't get the isolate to continue to run after the app is killed, please document if this is possible and if so how to achieve it.

Since my isolate code only relies on dart code it'd be great to avoid implementing the full background platform specific plugins as described here:
https://medium.com/flutter/executing-dart-in-the-background-with-flutter-plugins-and-geofencin

[2019-09-04 01:39] vikramkapoor commented on #19
@MichealReed
Any luck with this? I am stuck not being able run a scan from an Isolate. My application requires Bluetooth to run in background.
I merged latest changes from pauldemarco/flutter_blue into rmwatson/flutter_blue. in my fork vikramkapoor/flutter_blue. The scan results in a crash when run from an Isolate.

09-03 18:23:17.630 5117-5117/com.rakshak.safeho E/AndroidRuntime: FATAL EXCEPTION:

[2019-09-04 14:15] MichealReed commented on #19
Just got this working last night. I'm mobile, so it's hard to link directly, but my fork should have the latest. It still doesn't keep things alive forever in the background though, so if you get any ideas on that front let me know.

- Micheal

________________________________
From: Vikram Kapoor <notifications@github.com>
Sent: Tuesday, September 3, 2019 8:39:25 PM
To: rmawatson/flutter_isolate <

[2019-09-04 22:42] vikramkapoor commented on #19
Previously it used to stay alive in the Isolate even with screen off but now it stops working as soon as the screen is turned off on Android. It works fine on iOS. I will keep investigating.
Vikram 
    On Wednesday, September 4, 2019, 07:15:01 AM PDT, MichealReed <notifications@github.com> wrote:

 Just got this working last night. I'm mobile, so it's hard to link directly, but my fork should hav

[2019-09-06 19:08] vikramkapoor commented on #19
It seems to work fine in the background on iPhone. Just on Android it stops receiving events when the phone screen is off. We need to make sure the application is running in doze mode.

[2019-09-08 00:14] vikramkapoor commented on #13
Hi MichaelReed, Sorry I just saw this. Do you still need this?

Here's the code for custom registrant

Custom Registrant
[code]

Invoke custom registrant from MainActivity
[code]

[2019-09-08 00:31] vikramkapoor commented on #19
@MichealReed

I now have Flutter_blue working fine . when phone screen is off and phone is not plugged in. The only change I did was to move Flutter_blue interface from background_isolate to the main UI thread of my app. See example code below of how I register for button press notifications from the device after it connects.

[code]

[2019-09-24 10:15] lwlizhe opened #23 "Cannot run the example，"
**error msg:**
---
Unhandled Exception: ServicesBinding.defaultBinaryMessenger was accessed before the binding was initialized.
If you're running an application and need to access the binary messenger before runApp() has been called (for example, during plugin initialization), then you need to explicitly call the WidgetsFlutterBinding.ensureInitialized() first.
If you're running a test, you can ca

[2019-09-25 11:36] lwlizhe commented on #23
This problem is solved……

This is my flutter configuration problem

[2019-09-26 02:39] lwlizhe commented on #23
Cannot run on the latest version.

but it can run on version 1.5.4……

[2019-09-26 02:48] lwlizhe commented on #23
switch to the stable channel can solve this ……

[2019-09-27 20:59] guilhem-martin opened #24 "flutter_isolate and Permission_handler issue"
Hello,

I've got an erroneous behavior with flutter_isolate in the following case:

1. Check permission with Permission_handler
2. Span an isolate

Full code to reproduce the behavior:

[code]
It gets me the following libc error:

[code]
and the app terminates.

The following 'workarounds' can make it work:

- Comment the permission handler part
- or switch the spawn and the permission handler as

[2019-09-30 15:14] mohammadPezesh1994 opened #25 "Unhandled Exception: MissingPluginException when using location"
void isolate1(String arg) async  {
  while(true){
    await Future.delayed(Duration(seconds: 2));
    LocationData location = await new Location().getLocation();
    print(location.latitude.toString() + " " + location.longitude.toString());
  }
}

void main() async {
  WidgetsFlutterBinding.ensureInitialized();
  final isolate = await FlutterIsolate.spawn(isolate1, "hello");
  LocationData locatio

[2019-10-01 00:06] rmawatson commented on #25
Your problem is with [this](https://github.com/Lyokone/flutterlocation/blob/master/android/src/main/java/com/lyokone/location/LocationPlugin.java#L117-L129)

Please see [here](https://github.com/rmawatson/flutter_isolate/issues/12#issuecomment-499272592) and [here](https://github.com/rmawatson/flutter_isolate/issues/12#issuecomment-518777794) for why.

[2019-10-01 06:16] mohammadPezesh1994 commented on #25
but i can not run even your example because this **Unhandled Exception: MissingPluginException** error
i use stable channel and flutter version v1.9.1+hotfix.2

[2019-10-04 15:01] VadimOsovsky commented on #25
@rmawatson same error with my own custom channel, works fine in the main isolate.

[2019-10-04 15:04] VadimOsovsky commented on #25
P.S. Native code doesn't even get called, tested on android

[2019-10-04 17:13] rmawatson commented on #25
without looking at it I'm not sure. You can try applying this PR https://github.com/rmawatson/flutter_isolate/pull/22

[2019-10-07 08:20] VadimOsovsky commented on #25
@rmawatson applying the PR did not help to solve the issue, can you please check if custom platformChannel calls work with this lib?

[2019-10-09 08:59] jbhanuchand opened #26 "flutter_isolate failing for flutter sdk 1.9.1"
flutter_isolate was working like a charm in my environment with flutter sdk version 1.5.4. but after updating to flutter sdk 1.9.1. flutter_isolate plugin is crashing.

here is the log

V/DartMessenger(15974): Deferring to registered handler to process message.
V/DartMessenger(15974): Setting handler for channel 'flutter/isolate'
F/libc    (15974): Fatal signal 11 (SIGSEGV), code 1 (SEGV_MAPERR),

[2019-10-25 15:16] edwardhuerta commented on #21
@TannerYoung  I agree!

[2019-10-25 15:31] edwardhuerta commented on #26
@jbhanuchand I am implementing flutter_isolate in my app using v1.9.1-hotfixes and i do not get the error you pasted.

[2019-10-27 11:53] shakeeb1998 commented on #25
+1 native code does not get called

[2019-11-03 10:07] zhanghuanchong commented on #6
@rmawatson Could you please add a sample code in the documentation for getting data from the isolate? #10 #11 were also asking this question. Thanks.

[2019-11-03 11:36] zhanghuanchong commented on #6
I found a sample code here: https://stackoverflow.com/a/56349960/6622926

[2019-11-07 12:25] LavaJelly commented on #23
i can't run the example too! i'm on 1.9.1 + hotfix.5 and stable channel...

![image](https://user-images.githubusercontent.com/57488456/68388839-4d061380-0140-11ea-9bb6-32ac36f9b3da.png)
i'm kinda new to flutter so any help is apreciated.

[2019-11-07 12:30] lwlizhe commented on #23
maybe you need this:
https://pub.dev/packages/flutter_startup

[2019-11-07 12:36] LavaJelly commented on #23
Thanks for the fast answer and Sorry for no post anything else... here are my pubspec
![image](https://user-images.githubusercontent.com/57488456/68389467-ca7e5380-0141-11ea-8c41-4e518fe51de5.png)

and this is where the error come from...
![image](https://user-images.githubusercontent.com/57488456/68389562-03b6c380-0142-11ea-9270-55cef668f1f5.png)

[2019-11-07 12:53] lwlizhe commented on #23
Maybe these issue can help you，it should not  be the problem of flutter_isolate.

https://github.com/flutter/flutter/issues/10912#issuecomment-536569481
https://github.com/flutter/flutter/issues/10912
https://github.com/flutter/flutter/issues/12264

[2019-11-07 13:28] LavaJelly commented on #23
i've tried all in your asnwer... even now i started a new flutter project, only with:
flutter_startup: ^0.0.2
flutter_isolate: ^1.0.0+9
and the example in the flutter_isolate page. i even made another emulator and i still got the same error...
i'm going to cry :'(

[2019-11-07 13:41] lwlizhe commented on #23
um,I don't know where is wrong……… :P

but you can remove flutter_startup from your code ,its not the part of flutter_isolate…… read the document then try to write a new demo.

The correct usage of flutter_isolate  is like this:
`FlutterIsolate.spawn(your isolate method,tag)`

[2019-11-07 13:52] LavaJelly commented on #23
WHAT?! is not dependant on flutter_startup?! ; ^; thx a lot for telling me that!

[2019-11-29 14:44] MrBlueMoo opened #28 "[Channel beta, v1.11.0] build fails due to dependencies incompatibility with flutter_isolate"
Hello, this flutter_isolate plugin appears to no longer be compatible with the latest versions of flutter in the beta channel (as well as on dev and master channels). I have reported on the main flutter github issues page in case it was a larger issue with changes in flutter, but it was requested that I raise this individually on the plugins I have found issue with, hence this issue.

This is all

[2019-11-29 14:47] MrBlueMoo commented on #28
Attached is a very small sample project to demonstrate this issue: [flutter_app_fail.zip](https://github.com/rmawatson/flutter_isolate/files/3905628/flutter_app_fail.zip)

[2019-12-12 06:45] rohansohonee commented on #28
Facing the same issue.

[2020-01-04 10:44] mrxten opened #29 "How to work with local Method Channel"
I created method channel as part of project and manually register it in AppDelegate

[code]

How to allow use this channel with FlutterIsolate.spawn?

[2020-01-07 13:02] mrxten commented on #29
forget, I built it for different plugin...

[2020-01-07 13:02] #29 closed

[2020-01-13 02:21] rayk opened #30 "Thought on adding support for web-worker."
A somewhat related background issue: https://github.com/flutter/flutter/issues/33577

It strikes me that extending this plugin to support web-workers would be tidy solution for flutter application to offload concurrent work in a web setting.

**API**
[code]
Would kick off ```window.Worker()```

[code]
 would return a port that proxies around  ```MessageChannel()```

[code]
would ```close()``` the

[2020-02-16 15:03] mohaseeb opened #31 "Unable to run "flutter_local_notification" plugin from an isolate"
When I try to `initialize` and `use`  [flutter_local_notifications](https://pub.dev/packages/flutter_local_notifications), the plugin initialization fails with the following error:

`[ERROR:flutter/lib/ui/ui_dart_state.cc(157)] Unhandled Exception: MissingPluginException(No implementation found for method initialize on channel dexterous.com/flutter/local_notifications)`

[Here](https://github.com/

[2020-02-17 09:17] espositofulvio commented on #31
I've got the same error with several plugins, namely flutter_blue, shared_preferences, flutter_secure_storage, that I try to use in an isolate spawned with flutter_isolate. I guess something changed in the latest flutter which rendered flutter_isolate incompatible?

[2020-02-17 20:27] espositofulvio commented on #31
On further investigation, the plugin api changed quite a bit, the registrar registerWith now accept a flutterengine instead of a pluginregistry (also pluginregistry has a different interface even though the old one is still there) while flutter_isolate still passes the flutternativeview's pluginregistry (which is the old interface implementation). I tried a quick hack writing a registrar with the

[2020-02-20 15:55] santa010 opened #33 "Doesn't work on iOS"
Testing in a new project, iOS wont even build the layout as soon as the `FlutterIsolate.spawn` is introduced. Using version `1.0.0+11`.

Flutter doctor:

The code:
[code]
iOS output:

[2020-02-26 13:29] Drkstr opened #34 "Trouble getting the example app to work"
I was having some trouble getting the plugin to work and taught id try to clone the example app and try to get that working. But I can't get the example app to work either.  😢

I have cloned the repo and after running `flutter pub get` I get the following error on the IDE.

- Target URI doesn't exist "package:flutter_startup/flutter_startup.dart"
- The getter 'platformVersion' isn't defined for th

[2020-03-10 06:50] syonip opened #35 "Not clear how to get result from isolate"
Hi,
Is there a way to get a result / communicate with the isolate in any way?
Is there a way to know that the operation has finished instead of just killing it with a timer?

Thanks.

[2020-03-21 12:44] dkobia commented on #31
Works okay on iOS with `shared_preferences` and `sqlflite`. However I run into this error on Android. Looks like changes are required for the new v2 plugin implementation.

[2020-03-29 15:08] LeXuanKhanh opened #36 "Can't run the example - MissingPluginException"
I try to run a simple example code:
[code]

But it got error:
[code]
Flutter doctor:
[code]
I have looked at issue #25 , #12  but seem like it different from those because i haven't used this with any other plugins

[2020-04-06 21:04] bobulus42 commented on #31
I get the same error when trying to use with [FlutterBleLib]((https://github.com/Polidea/FlutterBleLib)). It is not related to activities.

[2020-04-10 20:21] moda20 opened #37 "why can't send and receive objects with this plugin isolate while I can do that in a normal isolate"
I am trying to use plugins in myna isolate and it didn't work, so I transitioned to this plugin to create isolates with but once running my old code after modifying it to use this plugin I got the error `Illegal argument in isolate message : (object is a regular Dart Instance)`.

I have been using the following code and not have a problem with it :

[code]

CRossIsolateMessage is an object and I a

[2020-04-10 21:36] moda20 opened #38 "NoSuchMethodError: The method 'toRawHandle' was called on null."
Hey I was trying to use this plugin to call an other plugin and got this error
[code]

here is my code :

[code]

So I am trying to call the spawn method directly with the plugin call I want which is the `invokeMethod` method. after that the result is awaited and send through a receive port hat is passed through the argument.

how can I solve this ?

[2020-04-11 10:11] moda20 commented on #38
I solved this by making the callback passed as first argument to the `spawn` method static.

[2020-04-11 10:11] #38 closed

[2020-04-11 11:01] moda20 opened #39 "ServicesBinding.defaultBinaryMessenger was accessed before the binding was initialized."
I am trying to use your plugin but I am getting this error :
`ServicesBinding.defaultBinaryMessenger was accessed before the binding was initialized.`while not calling any plugins at all. Basically I am running an isolate callback with a print statement.

**Code :**
[code]
I am trying to create this isolate inside an other isolate which is not a `flutter_isolate` isolate

[2020-04-15 06:56] klaszlo8207 opened #40 "Can handle MethodChannel?"
This code can handle MethodChannel on an isolate or not?

[2020-04-21 07:49] tony123S commented on #33
Is ios not available?

[2020-04-22 10:02] shfkhalifa commented on #34
I am having the same issue.. anyone has figured out what is wrong?

[2020-04-25 23:22] moda20 commented on #40
It should be as it is stated on the README and also is the  main point of this plugin. But unfortunately I am trying that and getting this error : `MissingPluginException(No implementation found for method getMetaData on channel ......)` which leads me to believe it it not working properly

[2020-04-25 23:27] moda20 commented on #31
Any news about this incompatibility being fixed?

[2020-04-26 05:56] klaszlo8207 commented on #40
this is a main flutter issue

[2020-04-26 09:45] w8023w1314 opened #41 "can't use in flutter 1.12.13"
when i use sqflite api in isolate , report some error :
E/FlutterIsolate(31605): NoSuchMethodException: io.flutter.plugins.GeneratedPluginRegistrant.registerWith [interface io.flutter.plugin.common.PluginRegistry]
E/FlutterIsolate(31605): The plugin registrant must provide a static registerWith(FlutterPluginRegistry) method

but, i change flutter v1.9.x  , not this error

[2020-04-26 09:48] w8023w1314 commented on #41
https://www.jianshu.com/p/7b551ef85e3c

this has the same error , but i cant understand how to fix it

[2020-04-27 10:05] rohansohonee commented on #41
I am also facing the same issue

[2020-04-27 10:08] w8023w1314 commented on #41
https://www.jianshu.com/p/01bab96dfe79
flutter  1.9.1 -->  1.12.13

在 Flutter 1.12 开始 Flutter 团队调整了 Android 插件的实现代码，在 1.12 之后 Android 开始使用新的插件 API ，基于的旧的 PluginRegistry.Registrar 不会立即被弃用，但官方建议迁移到基于的新API FlutterPlugin

[2020-04-27 10:09] w8023w1314 commented on #41
i think the flutter_isolate plugin  need upgrade .  有没有大神帮忙解决一下

[2020-04-27 10:13] rohansohonee commented on #41
It needs to implement the v2 embedding

[2020-04-27 10:15] w8023w1314 commented on #41
so , can you resolve it ?   wechat      +86 17688898884    ,  我就是个小菜鸡呀. 怎么会遇到这种难题

[2020-04-27 10:21] rohansohonee commented on #41
Check out this [Plugin migration guide](https://flutter.dev/docs/development/packages-and-plugins/plugin-api-migration) .

I will give it a try.

[2020-04-27 10:24] w8023w1314 commented on #41
thx , if you resolve it , please tell me ~   you'll my  Saviour

[2020-04-27 14:33] rohansohonee commented on #41
[Link to my pull request](https://github.com/rmawatson/flutter_isolate/pull/42)
If you want to use the new v2 embedding you can clone my repo as well from [here](https://github.com/rohansohonee/flutter_isolate)

If you encounter any issues do let me know.

[2020-04-27 16:37] ryanheise commented on #41
It's now merged. @w8023w1314 , does git master work for you? i.e. in your pubspec.yml try:

[code]

[2020-04-27 23:25] w8023w1314 commented on #41
it's work , thx~              顺颂夏祺

[2020-04-27 23:26] #41 closed

[2020-04-28 05:48] ryanheise commented on #41
This is now published as 1.0.0+12

[2020-04-30 10:52] taichanvn opened #45 "Native thread exiting without having called DetachCurrentThread"
When I kill a `FlutterIsolate`, this warning was appeared. Is it a problem or not?

[code]

[2020-05-03 20:53] freedreamer82 opened #46 "Getting back isolateID"
Hi,

is there a way to getting back the isolateId from the plugin ?
Maybe you can return a Future with the uuid on the spawn method , or making public the field
 _isolateId.

thanks

Marco

[2020-05-21 23:14] not-holar opened #48 "FlutterIsolate.spawn should return Future<FlutterIsolate>"
Currently it returns `Future<dynamic>` which messes with some analysis options and forces you to explicitly cast it, which is ugly
[code]

[2020-06-07 17:23] BalanaguYashwanth commented on #19
Can Any body  give github link for above code please....................

[2020-06-07 17:40] deakjahn commented on #30
@rayk No, it isn't feasible right know. The actual problem is with the very first line you mention, `spawn()`. The problem is that the new worker would immediately need to call back to Dart code, using the `entryPoint`. This is the code of the isolate/worker itself. You write it in Dart, it gets compiled and passed to the isolate on mobile but on the web, even if it gets compiled to the very same

[2020-06-11 04:30] rayk commented on #30
Thanks for the reply and the effort... Just looking at this for the last two minutes, it could helpful.. Certainly in simplify the message handling... I have perviously implemented all of this in JS and from memory the marshalling of messages back and forth was a pain. I shall have a play with _flutter_isloate_web_ in the the next days and give you some feedback.

[2020-06-12 07:20] deakjahn commented on #30
I'm currently using it in an app. The isolate part is older code, it works flawlessly. I also added an async implementation that implements the same interface, so it can be used as a drop-in replacement but it doesn't offer any real parallelism. This one works just fine in Flutter Web, too. This means that my current app is genuinely cross platform with the same isolate/worker code for all platfor

[2020-06-12 19:29] AxesandGrinds commented on #21
A year later and he still hasn't said if this package works when app is killed. After spending so many hours getting the example to work, ultimately I found out that the isolate is killed when the app is killed. Pathetic. Everyone is coming to this package to handle tasks when app is killed. So this is basically false advertising. In your readme, if you precisely say that this package does not wor

[2020-06-16 06:26] zkon commented on #35
Hi, I also can't see how the isolate can return data or communicate that the requested operation has completed. I'm trying to do some image processing in the isolate and need to know when that has completed, before another function can continue and use the processed image.

[2020-06-16 20:41] miphik opened #50 "Crash on iOS when use google_sign_in plugin"
Hi,
First, thank you for your work!
I have a crash on iOS when using your plugin together with the [google_sign_in](https://pub.dev/packages/google_sign_in) plugin.
The problem is on the next line: [FLTGoogleSignInPlugin.m#L243](https://github.com/flutter/plugins/blob/0fab93dc91cc9085da0b9e5ff034c28b5541c9fb/packages/google_sign_in/google_sign_in/ios/Classes/FLTGoogleSignInPlugin.m#L243).
When I c

[2020-06-18 15:37] AxesandGrinds commented on #46
I agree, we need isolateId so we can kill an isolate after use of it. I wonder when they can make that available. I'm looking at the FlutterIsolate dart source code to see if it's something I can do myself.

[2020-06-20 00:54] FilipeLarga commented on #19
Hey @vikramkapoor, @MichealReed. Could you provide some more insight into what is the solution? Are you still running the code in an isolate? I can't seem to understand your solution.

[2020-06-25 12:47] elmissouri16 commented on #35
@zkon I have a similar issue related to video processing  I'm stuck initialing the plugging to work with flutter_isolate
if it's possible to share the code to use it with plugin that uses method channel thank you

[2020-07-06 15:33] Nailik opened #51 "Support desktop platform."
Hi,
is there anything going on to support windows desktop in the future?
Because there is still no fix in flutter to use plugins inside isolates.

[2020-07-06 16:06] ryanheise commented on #51
Given the open source nature of this project, it will probably take someone who has Windows, and who is sufficiently motivated, to submit a PR and then maintain it. However, it might also be a bit too early to support a Windows implementation given that the APIs are still in early technical preview and subject to change significantly before the final release.

[2020-07-06 20:10] Nailik commented on #51
thanks for your response.
Do you now any dev who could help me?
I'm not that experienced with C++ but i urgently need this.

[2020-07-07 01:48] ryanheise commented on #51
It sounds like you could be sufficiently motivated :-)

I was in a similar situation to you, where I needed a certain feature on iOS "urgently", and I found myself sufficiently motivated to learn Objective C and learn how to do it myself.

(To answer your question, I don't personally know anyone who develops for Windows.)

[2020-07-17 22:31] oetiker opened #52 "findAppBundlePath(Context) in FlutterMain has been deprecated"
When running `flutter build appbundle` to prepare for release, I get:

[code]

[2020-07-26 18:09] govanyjj commented on #37
@rmawatson @moda20  I've also encountered this problem, are there any recent developments or related solutions?

[2020-08-06 12:32] medleykupps opened #53 "MissingPluginException using flutter_blue"
I'm receiving the following error message when scanning for Bluetooth devices in a background isolate using flutter_blue.

`MissingPluginException(No implementation found for method isAvailable on channel plugins.pauldemarco.com/flutter_blue/methods)`

This works fine when I run it in the main Isolate, hence, why I'm posting it here. I'm running this on an Android device (Pixel 3a). And, I had a v

[2020-08-17 12:16] henoktadesse commented on #36
Any new updates on this? facing the same issue

[2020-08-17 13:28] ryanheise commented on #36
@LeXuanKhanh and @henoktadesse , can you copy and paste your pubspec.yaml dependencies and flutter doctor? I see in @LeXuanKhanh 's case that it's happening on Android. @henoktadesse , is the issue on Android for you, too or iOS, or both?

[2020-08-20 22:31] flutterboi commented on #19
Any update on this?

[2020-09-02 10:46] Ozzy340 commented on #19
I'm experiencing a similar flutter_blue running in the background isolate problem. Explanation of the solution or example code would be very useful.

[2020-09-02 13:24] vikramkapoor commented on #19
I am not running any code in background isolate anymore.

[2020-09-02 13:49] Ozzy340 commented on #19
@vikramkapoor I assume this is unlikely to work for scanning of Bluetooth devices in the background while the device screen is off?

[2020-09-02 14:23] Ozzy340 commented on #53
I am also hitting this problem - I am assuming this is a newer version of flutter that has created this problem.
It appears to be whenever trying to access the 'FlutterBlue.instance'

[2020-09-03 12:08] MuhammedRefaat opened #54 "How to send and receive data through isolate ports"
Like regular Flutter isolate, I need to send data across different isolates (send data from the isolate to the isolate initiator), and I can't find a way to achieve that in this package:

[code]

[2020-09-03 13:18] ryanheise commented on #54
You can use [IsolateNameServer](https://api.flutter.dev/flutter/dart-ui/IsolateNameServer-class.html) to share the send port between flutter_isolate and another isolate.

[2020-09-15 06:47] EKALEB commented on #36
the same issue on Android, using flutter_isolate: 1.0.0+14 in pubspec.yaml

[2020-09-15 11:31] ryanheise commented on #36
@EKALEB can you share your pubspec.yaml dependencies in full? Or are you saying that flutter_isolate is the only plugin that your app uses?

[2020-10-30 17:05] aytunch opened #55 "Can we encode using flutter_ffmpeg inside a flutter_isolate?"
Encoding with [flutter_ffmpeg](https://github.com/tanersener/flutter-ffmpeg) takes too much time and resources and generates Jank in the UI. So it would be very nice if we could run it in a background thread. Can we do it with the help of your library? If yes, is there a way to get progress callbacks from the thread? I want to show the user how much encoding is done. Normally flutter_ffmpeg gives

[2020-11-08 19:22] cbenhagen opened #56 "Add macOS support"
Creating a new sub issue for #51 as this is a pretty easy task as soon as https://github.com/flutter/flutter/issues/65222 is closed.

/cc @hacker1024

[2020-11-16 16:23] ramsanath commented on #31
Not being able to use shared_preferences within an isolate is such a shame

[2020-11-26 15:33] RalphMarvin opened #57 "Can I Send A Message To The Main Thread"
I am running a process in my app on the `flutter_isolate` from this plugin and would like to a way to communicate with the main thread once the task am running in the isolate is completed. I want to know if thats possible with the plugin because it doesnt mention this in the docs.

[2020-11-26 15:54] ryanheise commented on #57
You can use [IsolateNameServer](https://api.flutter.dev/flutter/dart-ui/IsolateNameServer-class.html) to communicate between isolates (it's not a feature of this plugin but rather a standard Dart/Flutter API.)

[2020-11-27 08:28] RalphMarvin commented on #57
Okay thank You. Then am closing this issue now

[2020-11-27 08:28] #57 closed

[2020-11-27 09:34] KyleLUO opened #58 "very hard to use this thing, many many problem here ."
/flutter ( 6851): [ERROR:flutter/lib/ui/ui_dart_state.cc(177)] Unhandled Exception: Invalid argument(s): Illegal argument in isolate message : (object is a regular Dart Instance)
E/flutter ( 6851): #0      _SendPortImpl._sendInternal (dart:isolate-patch/isolate_patch.dart:219:70)
E/flutter ( 6851): #1      _SendPortImpl.send (dart:isolate-patch/isolate_patch.dart:203:5)
E/flutter ( 6851): #2

[2020-11-27 13:25] RalphMarvin commented on #54
How's that gonna work ? Can anyone share a code sample ?

[2020-12-03 17:25] sunjianan9900 opened #59 "HotRestart Crashed"
Flutter (Channel dev, 1.24.0-10.2.pre, on macOS 11.0.1 20B29 darwin-x64,
    locale zh-Hans-CN)

PLANTFORM IOS
hot reload is fun , crashed on hot restart

[code]

[2020-12-10 22:26] abaturyna opened #60 "FlutterIsolatePlugin.h:1:9: fatal error: 'Flutter/Flutter.h' file not found"
Xcode's output:
↳
In file included from /Users/nastya/Dropbox/BUSINESS/Soft/flutter 1.2.13/.pub-cache/hosted/pub.dartlang.org/flutter_isolate-1.0.0+14/ios/Classes/FlutterIsolatePlugin.m:1:
/Users/nastya/Dropbox/BUSINESS/Soft/flutter 1.2.13/.pub-cache/hosted/pub.dartlang.org/flutter_isolate-1.0.0+14/ios/Classes/FlutterIsolatePlugin.h:1:9: fatal error: 'Flutter/Flutter.h' file not found
#import <Flu

[2020-12-11 07:24] ramashish-headerlabs commented on #19
i want to scan for the ble devices even if the phone screen is off/locked or app in background then send data to backend.
is there any way i can do it

[2020-12-11 08:27] Ozzy340 commented on #19
I currently building something to achieve exactly this. From my research so far, to truly work in the background (and not just be disabled after Xnumber of minutes it requires platform-specific code to be added.

[2020-12-11 08:30] ramashish-headerlabs commented on #19
if it is set to work for a few minutes that too will we a relief

[2020-12-11 08:34] Ozzy340 commented on #19
the thread doesn't get destroyed immediately after you move away from the app, however there is little to know exactly how long it will last (as it is dependent on a number of external conditions).

I haven't had much success with flutter isolates to run Flutter blue (I got the impression at one point these two were compatible but it would seem no longer).

[2020-12-13 04:46] suztomo commented on #60
This? https://github.com/flutter/flutter/issues/16036

[2020-12-13 04:55] suztomo commented on #54
@RalphMarvin Here you are

[code]

[code]

[2020-12-13 13:52] suztomo commented on #50
@miphik I have similar problem. When I use flutter_isolate, then google_sign_in does not work. I found similar problem in Firestore, where Firestore library is not handling MethodChannel when there are multiple isolates (https://github.com/FirebaseExtended/flutterfire/issues/4108)

Which do you think the problem is in google_sign_in or flutter_isolate?

[2020-12-14 10:06] miphik commented on #50
I guess the problem is `google_sign_in`, I saw the same error with another plugin, but I can't be 100% sure, I don't have any experience with object-c.
for me, this issue was fixed by migrating from `flutter_isolate` to flutter native isolate

[2021-01-03 20:37] letiagoalves commented on #31
same issue with cache_manager due to path_provider

[2021-01-12 08:34] mahdidham commented on #54
after i test this, honestly I am only able to send string or null instead of object

[2021-01-28 06:39] MuhammedJaseel opened #62 "An Exeption occure"
NoSuchMethodError: The method 'toRawHandle' was called on null.

[2021-02-02 13:03] chongbo2013 commented on #56
is support macos? thank u

[2021-02-02 14:26] pschuegr opened #63 "Flutter is deprecating BinaryMessages field"
FYI, https://github.com/flutter/flutter/pull/73750 removes the BinaryMessages field used here: https://github.com/rmawatson/flutter_isolate/blob/master/lib/flutter_isolate.dart#L103

I'll submit a PR if I get a chance to put one together, but the change is to:

` window.onPlatformMessage = ServicesBinding.instance.defaultBinaryMessenger.handlePlatformMessage;`

[2021-02-22 18:09] megamegax commented on #63
I can't build my app because of this error message:

../../.pub-cache/hosted/pub.dartlang.org/flutter_isolate-1.0.0+14/lib/flutter_isolate.dart:103:32: Error: Getter not found: 'BinaryMessages'.
    window.onPlatformMessage = BinaryMessages.handlePlatformMessage;

What should I use as a workaround if I want to use the latest versions of flutter?

[2021-02-23 01:42] ryanheise commented on #63
@megamegax there is a pull request (#64 ) which you can test.

[2021-02-23 08:03] ryanheise commented on #63
@megamegax this should be fixed in the latest commit to `master`. Can you try it?

[2021-02-23 08:53] ryanheise opened #65 "Nullsafe release"
https://dart.dev/null-safety/migration-guide

[2021-02-24 03:40] ryanheise commented on #63
I have heard no bug reports regarding this commit so I'll publish a new release.

[2021-02-24 03:52] ryanheise commented on #63
This fix is now published in 1.0.0+15.

[2021-02-24 03:52] #63 closed

[2021-02-24 04:12] ryanheise commented on #65
A null safety prerelease is now available on pub: 2.0.0-nullsafety.0

[2021-03-01 14:44] ryanheise commented on #65
As no issues have been reported, I will promote this to stable.

[2021-03-01 15:00] #65 closed

[2021-03-12 21:04] syleishere opened #67 "Example Does not work on windows desktop"
Building Windows application...
Debug service listening on ws://127.0.0.1:63522/4j_CDVGFGxA=/ws
Syncing files to device Windows...
[ERROR:flutter/lib/ui/ui_dart_state.cc(186)] Unhandled Exception: MissingPluginException(No implementation found for method spawn_isolate on channel com.rmawatson.flutterisolate/control)
#0      MethodChannel._invokeMethod (package:flutter/src/services/platform_channel

[2021-03-29 08:40] juliansteenbakker opened #68 "Deprecated functions"
This plugin uses deprecated functions to spawn a Flutter view. This should be migrated to the newest version.
[code]

[2021-03-29 08:52] ryanheise commented on #68
This is migrated to the newest version (see #42 ) but it conditionally will support the old APIs also by checking if the app is using the latest SDK or not. But yes the old APIs can be safely removed now, we don't need to support them anymore.

@rohansohonee Would you be interested in updating this?

[2021-03-29 09:06] juliansteenbakker commented on #68
Since we are now supporting null-safety, a new version of flutter is required by flutter anyway. I can make a pull-request if you want.

[2021-03-29 09:08] ryanheise commented on #68
Awesome! Yes, I'd be happy to merge if you were to submit a PR.

[2021-04-07 14:57] radomir9720 commented on #62
Hi @MuhammedJaseel.
You just need to pass to first positional parameter of `spawn` method a `static` method or a top-level method.

Example of a `static` method:
[code]

how to use:
[code]

[2021-04-09 13:33] ryanheise opened #70 "WANTED: New package maintainer"
I have been maintaining flutter_isolate for a little over a year thanks to @rmawatson granting me access to do so. I had an interest in maintaining it because [audio_service](https://github.com/ryanheise/audio_service) used it internally. However, audio_service is moving away from its old isolate model and I will no longer have a reason to continue this maintenance.

If anyone is interested in ado

[2021-04-09 13:42] deakjahn commented on #70
I actually know nothing of the upcoming changes except for the few words written in that issue, that something new is coming up that will make it possible to start the required engine much more cheaply (but I haven't yet checked what changes this actually means). So, yes, I'm interested in the outcome but that could also be just to keep using a changed package if Nick will do the work. In other wo

[2021-04-09 14:36] rmawatson commented on #70
Happy to pass it on @deakjahn if your willing, and your new solution is the way forward.

[2021-04-09 17:17] deakjahn commented on #70
Considering that, according to the original thread, the new API is already in Flutter 2.0, @nmfisher, will you check this out?

[2021-04-10 02:41] nmfisher commented on #70
Hi @rmawatson  @ryanheise @deakjahn - yes I am happy to take this over, I'm fairly familiar with the existing flutter_isolate internals so it makes sense for me to act as maintainer + integrate the forthcoming work on FlutterEngineGroup.

[2021-04-10 03:10] ryanheise commented on #70
@rmawatson It looks like I don't have access to the menu for adding collaborators so you may need to do it. There is also the matter of adding rights for publishing to pub.dev - I don't recall how we did that last time but there are two options:

1. Become a verified publisher and assign rights through the web UI: https://dart.dev/tools/pub/publishing#create-verified-publisher
2. Without becoming

[2021-04-10 03:13] rmawatson commented on #70
Hi Ryan, I've added Nick to the git hub repository. Your seconds link looks about right, I remember doing it in the terminal. I don't have the flutter tools installed are you able to take care of this?

[2021-04-10 03:32] ryanheise commented on #70
@nmfisher I've just sent a pub uploader invitation to the email address appearing in your git logs.

[2021-04-10 05:02] nmfisher commented on #70
Thanks both @rmawatson and @ryanheise - I've accepted all those invitations so I'll close this issue and reach out privately if anything is needed.

[2021-04-10 05:02] #70 closed

[2021-04-11 10:11] #68 closed

[2021-04-12 08:04] juliansteenbakker opened #71 "flutter_blue not working on Android"
I have tried with different versions of flutter_isolate and flutter_blue however i keep getting the following error on Android. I have tried different Android devices ranging from Samsung Galaxy S9 to Galaxy Tab S2.

[code]

[2021-04-12 08:24] nmfisher commented on #71
I'll look into this - have you tried the PR @ https://github.com/rmawatson/flutter_isolate/pull/32? Adding a custom plugin registrant may fix, I'm not sure.

[2021-04-13 09:54] thize commented on #54
@mahdidham maybe you can send a json string and convert it later

[2021-04-22 20:13] pmagnuson commented on #62
I am having a similar issue to the with toRawHandle.  Do you have and example with flutter_notification as mentioned in the README?

[2021-04-23 06:33] radomir9720 commented on #62
Hi @pmagnuson. If you will show your code it will be easier to tell what is wrong. Also you can ask in [this telegram channel](https://t.me/rudart) your question. The channel is in russian, but you can ask on english.

[2021-04-24 05:25] naveenbharadwaj19 opened #72 "When app is hot restarted getting different kinds of errors"
`plugin version : 2.0.0`

<details>
<summary>flutter doctor -v`</summary>

[code]
</details>

**Error when hot restarted :**

[code]

**Code :**
[code]

1.  Why hot reload is not working when i change a piece of code ? everytime i need kill and run the app again
2.  Do i need to kill this isolate on my own or will it terminate itself when the work is done ? (i need this isolate only when a button

[2021-04-25 05:43] nmfisher commented on #72
1. Why hot reload is not working when i change a piece of code ? everytime i need kill and run the app again

a) I do have a fix for avoiding the Exception on hot reload (will merge in the near future).
b) However, see https://github.com/dart-lang/sdk/issues/44640 - even after we fix the crash, a hot reload will re-spawn the isolate successfully, but only with the original code. The hot reload won

[2021-04-25 06:26] naveenbharadwaj19 commented on #72
@nmfisher  what about the Platformexception ?
The following PlatformException was thrown while activating platform stream on channel com.rmawatson.flutterisolate/event:
[code]

- I noticed something even after adding `FlutterIsolate.spawn(fun,msg)` inside the button i'm getting a log message ` skipping x frames .The application may be doing too much work on its main thread` why ?

[2021-04-25 06:39] nmfisher commented on #72
I suspect the PlatformException is simply thrown due to the NoSuchElementException being thrown, so fixing the latter should fix the former.

For the "application may be doing too much work on its main thread", do you see this in profile/release mode or just debug mode? I encounter this regularly and just attribute it to the usual sluggishness of Flutter's debug mode. I believe it's a warning prop

[2021-04-25 07:00] nmfisher commented on #58
You can only send primitives via a SendPort to communicate between isolates.

https://github.com/dart-lang/sdk/blob/7c148d029de32590a8d0d332bf807d25929f080e/sdk/lib/isolate/isolate.dart#L620

I've added some more documentation to the README to explain.

[2021-04-25 07:00] #58 closed

[2021-04-25 07:02] nmfisher commented on #67
Yes this is currently not implemented - would make a good first issue if someone wants to contribute.

[2021-04-25 07:03] nmfisher commented on #71
@juliansteenbakker I have merged some fixes into master that allow for a custom plugin registrant, can you try this and see if it fixes?

[2021-04-25 07:14] naveenbharadwaj19 commented on #72
@nmfisher

Do i need to wait for `flutter_isolate` new version ?

Yes i'm seeing it on debug mode . I haven't tried with profile/release mode

[2021-04-25 07:20] nmfisher commented on #62
@MuhammedJaseel @pmagnuson I have added some details to the README explaining how to invoke FlutterIsolate.spawn with static/top-level functions.

Let me know if you need further guidance, otherwise I will close in 7 days.

[2021-04-25 07:24] nmfisher commented on #60
@abaturyna I suspect a `flutter clean` will solve your issue.

Given this has been open for some months, I will close for now - if this is still a problem please open a new issue.

[2021-04-25 07:24] #60 closed

[2021-04-25 07:24] nmfisher commented on #56
This would be a welcome feature - if anyone wants to contribute, please submit a PR.

[2021-04-25 07:25] nmfisher commented on #54
I have updated the README to reflect how to communicate via SendPort/ReceivePort.

[2021-04-25 07:25] #54 closed

[2021-04-25 07:30] nmfisher commented on #55
@aytunch I don't see any reason why this can't be done. I have no idea what the flutter_ffmpeg API looks like, but presumably you could do something like this:
[code]
Given this has been open for some months, I suggest you give it a try and if you experience any problems, please open a new issue and I will be happy to help.

[2021-04-25 07:30] #55 closed

[2021-04-25 07:31] nmfisher commented on #48
This was obviously added at some point, closing.

[2021-04-25 07:31] #48 closed

[2021-04-25 07:32] nmfisher commented on #59
Thanks - I've just taken over as maintainer so I will close this in favour of
https://github.com/rmawatson/flutter_isolate/issues/72 which is tracking hot restart issues.

[2021-04-25 07:32] #59 closed

[2021-04-25 07:33] nmfisher commented on #50
@miphik From what I gather, you may need to register a custom plugin registrant to do this. This capability is now available on master, can you try this and advise if this fixes your issue?

[2021-04-25 07:34] nmfisher commented on #35
I have added some documentation about using SendPort/ReceivePort to communicate between isolates, please see the current README.

[2021-04-25 07:34] #35 closed

[2021-04-25 07:35] nmfisher commented on #34
Given some months have passed since this comment and the example app has since been updated, I will close for now - if you experience any problems please open a new issue.

[2021-04-25 07:35] #34 closed

[2021-04-25 07:35] nmfisher commented on #23
Given some months have passed since this comment and the example app has since been updated, I will close for now - if you experience any problems please open a new issue.

[2021-04-25 07:35] #23 closed

[2021-04-25 07:42] nmfisher commented on #24
@guilhem-martin I have implemented similar functionality with no problem, so I can only assume that whatever issue you were experiencing was fixed after you submitted this issue.

Given the length of time that has elapsed, I will close for now but please create a new issue if you have the same problem.

[2021-04-25 07:42] #24 closed

[2021-04-25 07:44] nmfisher opened #73 "Use FlutterEngineGroup to spawn isolates"
This is a placeholder issue to track progress on using FlutterEngineGroup to spawn light(er)weight isolates.

https://github.com/nmfisher/flutter_isolate_engine_group

[2021-04-25 07:47] nmfisher commented on #15
I have also wondered whether a FlutterEngine is actually needed - in theory it should be possible to spawn a plain Dart isolate and just hook up the corresponding plugin channels manually. This would avoid all the overhead associated with an actual FlutterEngine, but would obviously require care to ensure that any spawned isolates do not assume the existence of any engine-specific behaviour.

If a

[2021-04-25 07:49] nmfisher commented on #33
@santa010 given the example app has been updated a number of times since this issue was filed, I will close this for now. Please create a new issue if there are still problems with the latest branch.

[2021-04-25 07:49] #33 closed

[2021-04-25 07:52] nmfisher commented on #37
Per the Dart documentation:

`In the special circumstances when two isolates share the same code and are running in the same process (e.g. isolates created via Isolate.spawn), it is also possible to send object instances (which would be copied in the process). This is currently only supported by the Dart Native platform.`

flutter_isolate doesn't invoke Isolate.spawn directly; isolates are spawned

[2021-04-25 07:52] #37 closed

[2021-04-25 07:54] nmfisher commented on #67
Closing in favour of https://github.com/rmawatson/flutter_isolate/issues/51.

[2021-04-25 07:54] #67 closed

[2021-04-25 07:54] nmfisher commented on #51
PRs welcome for anyone who wants to contribute.

[2021-04-25 07:59] nmfisher commented on #72
Yes, you will need to wait for the next version for the hot reload fix.

[2021-04-25 10:59] nmfisher commented on #52
Thanks for reporting this - [https://github.com/rmawatson/flutter_isolate/blob/c1994cd6fc3ba03b45e11cdcfc5f30a4b59f9c1c/android/src/main/java/com/rmawatson/flutterisolate/FlutterIsolatePlugin.java#L121](looks like this has been removed) since you lodged the issue so I will close. Any other issues building an app bundle, please file a new issue.

[2021-04-25 10:59] #52 closed

[2021-04-25 11:01] nmfisher commented on #12
The README now has examples showing how to register a CustomPluginRegistrant, please open a new issue if anything remains unclear.

[2021-04-25 11:01] #12 closed

[2021-04-26 07:27] juliansteenbakker commented on #71
Sorry for late response, i have tried using the `customPluginRegistrant` however it keeps saying:
[code]

I tried removing it from the `generatedPluginRegistrant` however it keeps coming back. I have set-up everything as provided in the example.

[2021-04-27 05:46] nmfisher commented on #71
@juliansteenbakker after looking into this further, the problem is that on Android, the flutter_blue plugin requires an Activity to function (and flutter_isolate works by spawning a new FlutterEngine which isn't attached to one). In other words, any plugin called from an isolate won't be able to access the main Flutter Activity. On Android, this is needed to do certain things like request Bluetoot

[2021-04-27 05:48] nmfisher commented on #19
At the moment flutter_blue won't work from a spawned isolate I'm afraid. I'll close this for now in favour of https://github.com/rmawatson/flutter_isolate/issues/71 where we can track progress.

[2021-04-27 05:48] #19 closed

[2021-04-28 07:18] nmfisher commented on #53
Thanks for the issue - this is a known issue that is being tracked, so I will close this in favour of https://github.com/rmawatson/flutter_isolate/issues/71.

[2021-04-28 07:18] #53 closed

[2021-04-29 12:36] moodstubos opened #74 "PlatformException / flutter_isolate 2.0.0"
Hi,
I got this Exception notification after using catcher in one of my apps:

[code]

using
`[√] Flutter (Channel stable, 2.0.5, on Microsoft Windows [Version 10.0.19042.928], locale de-DE)`

[2021-05-05 19:06] miphik commented on #50
Hey @nmfisher
thank you for the reply
cannot check it, Im using native isolates now
will close this issue.

[2021-05-05 19:06] #50 closed

[2021-05-23 08:49] meridorkobi opened #76 "Can work in background forever?"
great plugin!
I have to communicate to Bluetooth low energy device while my app in foreground or background.
I need to catch special message.
Can I do it with the great plugin ?

[2021-05-23 09:18] nmfisher commented on #76
In theory, flutter_isolate can communicate with Bluetooth while the app is in the foreground.

However, there is some incompatibility between flutter_blue and flutter_isolate. This means you won’t be able to use that particular plugin for Bluetooth, so you’d have to find another plugin that’s compatible or do a lot of heavy lifting yourself via platform channels.

As it stands, you also won’t be a

[2021-05-25 09:16] meridorkobi commented on #76
Thanks,
In my test I wrote to MongoDB atlas from the isolate . Its working correctly while app in foreground and stopped after short time after moving to background.
a. Is it possible that isolate was stooped because the MongoDB activity?
b. Do you have recommendation for other Bluetooth low energy Plugin?
c. What is the advantage using isolate with  periodic timer inside than periodic timer?
Than

[2021-05-29 15:17] abhinavsingh opened #77 "Unable to communicate Map<String, String>"
Hi,

Thank you for this excellent plugin.  We are evaluating it for our next project.  All seems to work fine, except when we try to use `libphonenumber`.   `libphonenumber` parse method returns a `Map<String, dynamic>`, frankly it's just a `Map<String, String>`.  However, communicating the result of `parse` over port results in `Illegal argument in isolate message : (object is a regular Dart Inst

[2021-05-30 07:57] nmfisher commented on #77
That's odd behaviour. Can you replicate this with a plain ReceivePort/SendPort, independently of flutter_isolate?

[code]

[2021-05-31 08:46] abhinavsingh commented on #77
@nmfisher Usage of external plugin is the primary reason we started evaluating `flutter_isolate`.  With plain dart `isolate` we were unable to get our plugin dependent isolates working.

Having said that, I still want to do a explicit case, as you demonstrated, to see if that helps.  Please give me a day or so, I'll come back with my findings _(unfortunately away from Laptop for a day at-least)_.

[2021-05-31 09:33] nmfisher commented on #77
Yes that’s just a test to make sure you’re passing things around correctly, I’m not suggesting replacing flutter_isolate with a Dart isolate.

What you posted should work, so there’s probably an error in your code somewhere.

[2021-06-01 07:24] abhinavsingh commented on #77
Just got back to it today and gave it a try.  Looks like that cast of map itself is unable to reach the other side.

[code]

- 1st line is response as seen by receiver for `.send(myMap)`
- 2nd one `.send(myMap.cast<String,String>())` fails

Can it be related to plugin registry? Currently we haven't customized that and let all plugins in the environment load for the isolated.

[2021-06-01 07:31] abhinavsingh commented on #77
For reference code at my end:

[code]

[2021-06-01 07:31] abhinavsingh commented on #77
For reference code at my end:

[code]

[2021-06-01 08:38] abhinavsingh commented on #77
Update:  Amazingly this stupidity works out for now.

[code]

Note that we are also using `contact_service` and we use it's `.toMap()` function to serialize over the port and it just works fine.  There is something mysterious about `.parse` here which I am unable to decipher.

Let me know if any further information is required to nail this down.

[2021-06-01 08:54] nmfisher commented on #77
This has nothing to do with the plugin registry (or even Flutter). What version of Dart are you running?

Can you also confirm you’re not using any package that is adding extensions to Map?

[2021-06-01 08:55] EdvaldoMartins opened #79 "How can I kill an isolate?"
My question is this: How can I kill isolate after the instruction within the method is executed?

example:

[code]

[code]

[2021-06-01 10:51] abhinavsingh commented on #77
I meant the same, may be one of the other plugin, currently unused in isolate are misbehaving, didn't think of Map extensions.

`Dart SDK version: 2.13.0 (stable) (Wed May 12 12:45:49 2021 +0200) on "macos_x64"`

I checked libphonenumber, https://github.com/emostar/flutter-libphonenumber/search?q=%22on+Map+%7B%22, no traces of map extensions.

I'll start by adding plugin registry so that isolate e

[2021-06-01 11:37] nmfisher commented on #77
I don't know what libphonenumber.parse is returning, it doesn't seem to be referenced in the plugin you linked so I'm guessing it's your own code.

You're not trying to send either a null-safe Map or a Map<String, String?> are you?
[code]

(note the exclamation mark)

[2021-06-02 11:32] nmfisher commented on #79
The README contains instructions for isolate.kill() - does this not answer your question?

[2021-06-02 13:16] EdvaldoMartins commented on #79
Unfortunately no response.
The idea is to kill isolate when the statement within the **_run** is executed and completed.

Is that possible?

[2021-06-02 13:51] nmfisher commented on #79
Share a SendPort/ReceivePort between your main/spawned isolate, then when the spawned isolate is finished, send a kill signal back through the SendPort so the main isolate can kill the spawned isolate.
[code]

Alternatively you could have a global shared isolate registry and pass through the ID when the isolate is spawned.

[2021-06-02 18:24] EdvaldoMartins commented on #79
Thanks, I'll test and see if it works for me

[2021-06-03 02:49] #62 closed

[2021-06-03 20:03] campcoxconsultants commented on #71
Why can't I make sure I have the permissions in the main Flutter isolate and then run Flutter blue where it won't need an activity?

[2021-06-28 04:52] #79 closed

[2021-06-28 04:52] nmfisher commented on #77
Let me know if anything further required, otherwise will close this issue.

[2021-06-28 04:54] nmfisher commented on #74
Can you please paste the Dart code where you create the isolate, including the entrypoint function.

[2021-06-28 04:55] nmfisher commented on #72
This should be fixed by https://github.com/rmawatson/flutter_isolate/pull/78, you can try `2.0.1-pre` on pub and reopen this issue if  you're still experiencing errors.

[2021-06-28 04:55] #72 closed

[2021-06-28 04:57] nmfisher commented on #46
As long as you keep a reference to the spawned isolate, you can just invoke `kill` (the README/example project contains example code).

I'm not really sure why you would need the isolate ID?

[2021-07-03 20:11] jaydip-pawar opened #80 "Unhandled Exception: Null check operator used on a null value"
This is my sample code:

[code]

After running this code I got following exception:

[code]

[2021-07-04 00:53] nmfisher commented on #80
Your entry point function (isolated) needs to be a top level or static function.

[2021-07-07 21:05] #80 closed

[2021-07-11 09:33] meridorkobi opened #81 "Is there a recommendation to Bluetooth scanner plugin to implement in the isolate"

[2021-07-21 16:13] #81 closed

[2021-07-21 16:14] meridorkobi commented on #81
flutter blue in the main

[2021-07-23 07:14] #77 closed

[2021-07-23 07:15] nmfisher commented on #74
Let me know if you're still experiencing this issue, otherwise I will close.

[2021-07-27 20:22] abhinavsingh commented on #77
Hey apologies, didn't get to check Github for weeks now.  I'll need to double check, but possibility is that `libphonenumber` will return optionals.  Good to close this for now, we have a TODO at our end.  I'll update if something unexpected comes up in our investigation later.  Thank you for your support!!!

[2021-08-05 19:53] indrajit-roy commented on #46
@nmfisher It would be useful if the main activity was destroyed before the isolate completed it's task. Storing the id in local could help in killing it after coming back to the app.

[2021-08-09 14:56] cccRaim commented on #36
maybe try to reinstall the app.

[2021-08-09 15:10] cccRaim opened #82 "Parent process can send message to child process. How child process send message to parent process?"

[2021-08-10 10:39] ShreeyansB opened #83 "Need help maintaining only one Isolate executing"
I am using this package to get the palette from an Image when the user goes to the WallpaperScreen.
<details>
<summary>Code: </summary>

[code]

</details>

The Problem: My function seems to work when it is called once in 3 seconds. But when I call getPalette() rapidly (5 times in 3) seconds I get the following error in the console:
<details>
<summary>Error: </summary>

[code]
</details>

As you c

[2021-08-10 11:55] ShreeyansB commented on #83
After researching a bit. I tried to implement a single Isolate instead of trying to kill and create new Isolates each time. It was a bit hard to set up 2-way communication but now there are no errors. I just send the image to the Isolate via a port. If the isolate is already running, I set a while loop to poll a boolean variable which tells if the Isolate is free or not, if it is free then send th

[2021-08-10 11:55] #83 closed

[2021-08-10 13:13] cccRaim commented on #82
ok

[2021-08-10 13:13] #82 closed

[2021-08-18 13:19] lyio commented on #36
@ryanheise I think this is the example here in the repository.

The code for iOS in the `AppDelegate` in the readme and in the example dow not look like it will run. The class `FlutterIsolatePlugin` does not have a property `isolatePluginRegistrantClassName` and XCode will refuse to compile this.

At least I don't find it.

Maybe the example or the documentation are outdated, I don't know.

[2021-08-18 15:06] #74 closed

[2021-08-18 15:07] nmfisher commented on #36
@lyio It's possible the iOS instructions in the README require updating, let me check.

[2021-08-18 15:11] lyio commented on #36
No, it's the other way around...

The docs are more recent than the released version. They align with the 2.1.0 pre-release.

My bad.

Also, I tried to spawn an isolate from the flutter_downloader, which itself only has a headless Flutter engine, and kept getting the MissingPluginException because ofc the flutter_isolate had not been registered there.

[2021-08-18 15:14] nmfisher commented on #46
@indrajit-roy I thought the whole Flutter lifecycle was intrinsically linked to the main activity, so when that's destroyed all the executors are destroyed too. Can you point me to some example Flutter code where the main activity is destroyed but the app is still running?

Unless you're talking about launching an isolate in a background service, which I'm not even sure is possible.

[2021-08-19 01:19] nmfisher commented on #36
OK, given the amount of time that's elapsed since the original issue and no comment from the original poster, I'll close this if no further response received in the next 7 days.

[2021-08-19 01:23] nmfisher commented on #76
a. Is it possible your calls to MongoDB threw an exception? Otherwise, I would expect the isolate to finish execution (or, if you're looping, just continue processing).

b. I can't make any recommendations around Bluetooth sorry, not my area.

c. I don't understand the question

[2021-08-19 01:27] nmfisher commented on #71
@campcoxconsultants I vaguely recall `flutter_blue` running a permissions check  against the activity every time a scan was performed (which would throw an exception, because the activity was null). It's been a while, though, so I don't remember exactly - did you manage to try this?

[2021-08-19 15:15] meridorkobi commented on #76
I removed the isolate and and the timer and integrate the bluetooth and mongo to the blue lister and it's working great

[2021-08-20 05:32] #76 closed

[2021-08-20 05:33] nmfisher commented on #45
I haven't seen this error in the latest version, so if I don't hear anything back on this issue in the next 7 days, I'll close the issue.

[2021-08-28 10:33] sikandernoori opened #84 "Type 'FlutterIsolatePlugin' has no member 'isolatePluginRegistrantClassName'"
I am getting below error when I build App.

My Appdelegate.swift file looks like this.

[code]

[2021-09-01 05:55] nmfisher commented on #46
Thanks @indrajit-roy - I just verified that the spawned isolate will continue to run after the FlutterActivity is destroyed (and the app is in AppLifecycleState.paused).

Assuming you were given the isolate ID at spawn time, how would you propose to store/retrieve this after the app is paused/resumed? Presumably you would need to make this persistent somewhere?

[2021-09-01 05:55] nmfisher commented on #84
@sikandernoori which version of the plugin are you trying to run?

[2021-09-01 05:56] #45 closed

[2021-09-01 05:56] #36 closed

[2021-09-01 05:56] nmfisher commented on #5
Given the length of time that's elapsed since this issue was opened, I'll close unless a response is received in the next 7 days.

[2021-09-01 06:02] sikandernoori commented on #84
@nmfisher
`flutter_isolate: ^2.0.0`

[2021-09-01 07:04] nmfisher commented on #84
If you want to use a custom plugin registrant, you'll need to use `2.0.1-pre`.

Are you sure you need to use a custom plugin registrant?

[2021-09-02 19:46] indrajit-roy commented on #46
@nmfisher yes. The most obvious solution would be to cache the returned Info about the Isolate using solutions like shared_preferences / hive etc.

I wonder if there's a better way to do it. Like a way to retrieve the current running isolates and their info at any given point of time. That would solve the ambiguity of whether a stored isolate id is still running, before we kill it. That would actu

[2021-09-04 05:22] nmfisher commented on #46
Looks like the main Dart executor is killed when the activity is destroyed (and possibly the native plugin instance, I'd need to check), but if we make the native isolate registry static then it should be straightforward to add a `getActiveIsolateIds()` method.

[2021-09-06 11:50] bhanuka96 opened #85 "Unhandled Exception: Null check operator used on a null value"
Is it support platform channel code in secondary isolate?

`compute` function also getting this error. and also pure isolate without this plugin, that way also getting the same error.

[code]

**Error**

[code]

[2021-09-10 05:03] nmfisher commented on #85
There shouldn't be any problem with platform channel methods. The error message you provided suggests that the Dart entrypoint can't be found (nothing to do with the platform channel), but the code snippet you pasted looks correct.

Can you please provide a link to a repository that fully reproduces your problem?

[2021-09-10 05:07] #5 closed

[2021-09-12 07:28] abhinavsingh commented on #84
I am wondering what's the stability of `2.0.1-pre`.  Any specific reason why it's a pre-release and haven't turned into a proper release yet?  Our application includes an in-house call module, which internally performs audio routing setup and other initialization.  Unfortunately, isolate seems to load this call plugin _(unused by isolate)_, resulting into dual setup and app crashes.

Copying below

[2021-09-12 08:35] nmfisher commented on #84
@abhinavsingh  if you're using a custom plugin registrant, then `GeneratedPluginRegistrant` is ignored. The example project is intended to show the use of the FlutterDownloader and PathProvider plugins via a custom registrant - you'll see that everything is handled by `IsolatePluginRegistrant`. As a consequence, if you added/removed plugins to/from this project, you'd need to manually add/delete t

[2021-09-19 14:54] abhinavsingh commented on #84
@nmfisher After some deep dive and investigation, we have come to a conclusion that proposed solution is not tenable.

a) It requires manual fiddling of plugin registrant, which is both error prone and a maintenance overhead, specially in a large team scenario with ton's of plugins.

b) I am not entirely sure if it even resolves the issue.  Instead of going into `AppDelegate`, I simply modified pl

[2021-09-20 13:10] kolotum opened #86 "iOS Crash in lookupGeneratedPluginRegistrant in 2.0.1-pre"
We receive some crashes in our iOS release app with flutter_isolate 2.0.1-pre:

We could not reproduce that crash by our own, yet.

To me it looks like the class list in `lookupGeneratedPluginRegistrant` is modified while being iterated.

Is it possible to use a simpler implementation of lookupGeneratedPluginRegistrant?

[code]

[2021-09-22 12:48] sikandernoori opened #87 "isolate Initializing / Spawn Time"
On Average flutter_isolate Initializing / spawn time is 1.5s per instance.

Can we reduce this time somehow ?

[2021-09-25 01:24] #84 closed

[2021-10-01 03:47] meridorkobi opened #88 "Can force the isolate to work forever"
Can I force the isolation to continue working in the background even though I have closed my app?

[2021-10-01 10:00] guymclean opened #89 "iOS Crash in lookupGeneratedPluginRegistrant in 2.0.0"
Similar to #86 we are having a large number of crashes with this plugin (EXC_BAD_ACCESS KERN_INVALID_ADDRESS)
We are running version 2.0.0 of the plugin.
This issue seems to be spiking with iOS 15.

[code]

[2021-11-01 23:16] mehrdad-shokri commented on #82
@cccRaim how to do it?

[2021-11-11 19:02] ahoelzemann opened #91 "flutter_reactive_ble can't be used using flutter_isolate?"
Hey, I'm trying to run code that uses the flutter_reactive_ble library in an isolate using your plugin.
However, the same code - that runs perfectly fine in the foreground - doesn't run in an isolate. When I went through the code with a debugger I saw that the package functionality is not provided.

The first thing I'm doing after initializing my BLEManager is to check the ble state of my own smar

[2021-11-13 01:17] #85 closed

[2021-11-13 01:21] nmfisher commented on #91
Is this on Android? If flutter_reactive_ble is like flutter_blue, it might not be possible to use with flutter_isolate (see https://github.com/rmawatson/flutter_isolate/issues/71).

Basically anything running under a Flutter isolate does not have an attached Activity, so any Flutter plugin that assumes the existence of an Activity just won't work.

[2021-11-14 14:03] ahoelzemann commented on #91
Hey, thanks for the quick reply!

No, it happens on iOS. However, I figured out that it's just the BLE state of the smartphone that cannot be discovered and therefore remains unknown. I can ignore it, since the rest of the code runs in the isolate.

[2021-11-16 17:11] Harrys76 commented on #83
@ShreeyansB could you please share the solution code?

[2021-11-17 23:07] ahoelzemann commented on #91
Hi @nmfisher ,

I'm not 100% sure, but for it seems a bit like flutter_isolate doesn't run properly in the background.
I upgraded Xcode to version 13.1, because it was necessary to be able to work with flutter_reactive_ble.
Since then I get the following warning:

_[BackgroundTask] Background Task 2 ("Flutter debug task"), was created over 30 seconds ago. In applications running in the background,

[2021-11-18 01:20] nmfisher commented on #91
Thanks @ahoelzemann, are you able to provide an example repository that demonstrates the bug?

[2021-11-18 01:44] ahoelzemann commented on #91
Thanks for the quick reply. I can't give you access to the complete application, since it's a private repository, but I created another one with my two dart files that are important.

https://github.com/ahoelzemann/isolate_example

LandingScreen.dart:

Line 823/824: spawns the isolate and is followed by the listener that listens on the port for messages.
Line 36: defines the method isolate1 which

[2021-11-18 02:07] nmfisher commented on #91
Thanks, I'll take a look over the next few days.

[2021-11-18 14:00] ahoelzemann commented on #91
@nmfisher I digged a bit deeper and the problem that objects and variables were set to null was related to a bug in my code for discovering BLE devices.

However, the isolate still stops working when the app is put in the background. I made a few changes in my code.

I now spawn a main isolate (line 935 in LandingScreen.dart). This main isolate then spawn a worker isolate that deals with the file

[2021-11-19 09:44] saarang1995 commented on #21
Will this isolate run after the app is closed?
I am trying to find a similar functionality to that of Services in Android. Please confirm, thank you!

[2021-12-01 11:12] AhmadDanielD opened #94 "Unable to locate Isolate to kill it"
After spawning a new Isolate, it will continue to work even after the app is killed (tested),
Example:
void startIsolate(){
await FlutterIsolate.spawn(isolate1, "hello");
}
void isolate1(String arg) async  {
Timer.periodic(Duration(seconds:1),(timer)=>print("Hello"));
}
void stopIsolate(){
// what should be the code here? how to catch it after killing the app?

}
The issue is after the app is rela

[2021-12-03 15:00] andersonfds opened #95 "Feature request: ability to kill all currently running processes"
When you hot-reload your flutter application, the current behavior is:

- Android:
It creates another isolate (preserving the predecessor), if you hot reload multiple times it will spawn multiple isolates.

- iOS:
The application crashes

It would be neat if we had an option, maybe only available in debug, that we call and it looks up and kills any running isolate.

[2021-12-08 07:37] cdoco opened #96 "flutter_inappwebview is not working."
I want to `HeadlessInAppWebView` is used in `flutter_isolate`, but it does not work.

## Example code

[code]

## Error received

[code]

[2021-12-08 07:43] cdoco commented on #96
I tracked the code because `plugin.activity` is null.

I guess `flutter_inappwebview` needs to rely on UI interaction and may need to implement `ActivityAware`.
<https://github.com/flutter/flutter/wiki/Experimental:-Create-Flutter-Plugin#uiactivity-plugin>

[2021-12-13 09:21] ahoelzemann commented on #91
@nmfisher , have you had time to look into the problem further?

[2021-12-15 17:34] JulianKeppelerCP commented on #95
Yes that would be a game changer!

[2021-12-15 19:05] andersonfds commented on #95
My approach to tackle this was by adding an Action on my AppBar (only available in debug), which will call the kill method, but that's not optimal since I have to be aware to press that button before hot-reloading. Think I might be able to implement this feature, but only for Android, that's the reason I didn't make a PR right away

PS: Changed the title, because I didn't realize the grammar error

[2021-12-16 22:24] nmfisher commented on #91
@ahoelzemann - if I'm reading your issue correctly, you're saying that a running isolate cannot spawn a child isolate when the app is running in the background on iOS?

[2021-12-16 22:28] nmfisher commented on #96
@cdoco unfortunately isolates are not attached to an Activity (see https://github.com/rmawatson/flutter_isolate/issues/71#issuecomment-827329925 for further details) and I'm not sure if there's a catch-all solution for doing so (arbitrarily spawning a new Activity for every isolate would be a bad idea).

I'll keep this issue open to investigate further, but I wouldn't hold my breath for a solution

[2021-12-17 08:17] ahoelzemann commented on #91
@nmfisher no, not exactly. Sorry for the misunderstanding.
My very long running (up to 2 hours) isolate pauses. The function my isolates call contains several other function calls. I'm using BLE to connect to a smartwatch and upload data from the smartwatch to my phone. After this I want to upload my data to a server.

However, sometimes the isolates pauses after executing the data upload from the

[2021-12-22 19:49] andersonfds commented on #95
hey @JulianKeppelerCP good news! I made a PR with this feature, and it was merged (both for iOS and Android), checkout the documentation, now there's a static and awaitable method called `killAll()`. I'll be closing the PR for now.

[2021-12-22 19:49] #95 closed

[2021-12-22 20:15] JulianKeppelerCP commented on #95
Awesome! Thank you so much @andersonfds

[2021-12-28 14:26] alingse opened #100 "old API error on android"
[code]

and

[code]

and the build tips this

[code]

old JAVA API

[2022-01-03 18:01] neelansh-creatorstack opened #101 "Support for onError port"
Isolate.spawn() from foundatiom.dart provides onError param to receive the SendPort for error reporting.
There is no such feature here in flutter_islolate package, to pass the onError sendport.

[2022-01-04 08:17] Okiring commented on #12
I tried this example but still get the same issue. Path provider cannot be found

MissingPluginException(No implementation found for method getTemporaryDirectory on channel plugins.flutter.io/path_provider)

[2022-02-09 12:35] jveryspace opened #102 "Unhandled Exception: Unsupported operation: Isolate.resolvePackageUri"
Flutter 2.10.0
error only on IOS, multiple flutter engine
code:
let newEngine = appDelegate.engines.makeEngine(withEntrypoint: entryPoint, libraryURI: "package:fsapp/env/test.dart")
super.init(engine: newEngine, nibName: nil, bundle: nil)
error:
//
2022-02-09 20:28:14.298442+0800 Runner[1197:362070] [VERBOSE-2:ui_dart_state.cc(209)] Unhandled Exception: Unsupported operation: Isolate.resolvePackag

[2022-03-23 15:38] calebadavis commented on #71
So if we were to tweak flutter_blue (or now flutter_blue_plus) to not perform the permissions check, and simply do that in the main Isolate instead (using a custom MethodChannel), perhaps we could get around this? I'll poke around the bluetooth library and see if the permissions calls are isolated enough to just comment out...

[2022-04-06 11:53] Christer-Muntean opened #103 "Plugins not working in an FlutterIsolate"
Hi I'm having trouble with this plugin, it doesn't seem to work with other plugins. Am I doing something wrong?

Error:
[code]

Performing `await Firebase.initializeApp();` in the isolate is causing the error. Also `await SharedPreferences.getInstance()` causes the same error (and probably many more plugins as well).
[code]

I also have this in main.dart
[code]

My plugins are:
[code]

I spawn the

[2022-04-06 12:00] Christer-Muntean commented on #103
Omg. Turns out I didn't use FlutterIsloate to spawn isolate...

`await FlutterIsolate.spawn(MyCubit. songDelegator, isolateToMainStream.sendPort);`

[2022-04-06 12:00] #103 closed

[2022-04-12 12:21] yeonsann commented on #71
@calebadavis Any update on this?

[2022-04-15 06:15] philipd97 opened #104 "Swift Custom Plugin"
I'm having trouble with registering custom plugin in iOS Swift. Somehow the `example` integration for iOS doesn't cover this. I'm following the code on the README snippet. I'm having error which showing

`Cannot find registerIsolate & registerGeocoding in scope`

Is this the way to do it? Let me know if I'm missing something.

[code]

[2022-04-15 15:15] nmfisher commented on #104
The `registerMethodChannelABC` in the docs is just an example of calling your own implementation method for registering a method channel. You'll need to add your own implementation for `registerIsolate` and `registerGeocoding` anywhere, or just do something like the following:

[code]

[2022-04-15 15:36] nmfisher commented on #102
Can you provide a sample project to reproduce this issue? Without any further information it looks like a Flutter/Dart isolate issue.

[2022-04-17 22:07] Christer-Muntean opened #105 "MissingPluginException - Problem with several plugins on iOS only."
I have issues on iOS with this simple code sample, it throws an MissingPluginException. On Android everything works perfectly fine.

[code]

**Error spotify_sdk:**

[code]

**Also having problem with shared_preferences:**
`[VERBOSE-2:ui_dart_state.cc(209)] Unhandled Exception: MissingPluginException(No implementation found for method getAll on channel plugins.flutter.io/shared_preferences)`

[2022-04-18 02:14] philipd97 commented on #104
@nmfisher Sorry, a little confusion here, does that mean if I'm trying to use a package lets say `path_provider` with `flutter_isolate`, I doesn't need to write the implementation on the iOS side?

[2022-04-18 03:21] philipd97 commented on #104
Alright, thanks for the help :), appreciate it

[2022-04-18 03:21] #104 closed

[2022-04-22 19:07] calebadavis commented on #71
@yeonsann Yes, I took a look, I believe it's possible. In the bowels of FlutterBluePlus, In the Android plugin code, file 'FlutterBluePlusPlugin.java', line 670 (method 'ensurePermissionBeforeAction()'), we can comment everything out and simply always call 'operation.op(true, permission);'. This will bypass permission checks.

Additionally, somewhere earlier in the flutter app, you need a custom m

[2022-05-17 12:32] DennisMuchiri opened #106 "Null data for key using encrypted_shared_preferences package"
Hi @ened  @anticafe  @deakjahn @stonega  @nmfisher . I'm getting no data for key I stored using main thread while getting it from the spawned isolate. Please help.

[2022-05-17 12:35] DennisMuchiri commented on #106
I this this is related to
https://github.com/roulljdh/encrypted_shared_preferences/issues/3

[2022-05-17 13:11] DennisMuchiri commented on #105
@Christer-Muntean did you resolve the shared preferences issue?

[2022-05-18 04:41] DennisMuchiri commented on #105
@Christer-Muntean
After much trials I discovered you have to re-initialize the shared preferences plugin after entering isolate
Using these two plugins; add to pubspec.yaml

`  shared_preferences_ios:
  shared_preferences_android:`

 In your isolate function

 `if (Platform.isAndroid) {
    SharedPreferencesAndroid.registerWith();
  } else if (Platform.isIOS) {
    SharedPreferencesIOS.registerWit

[2022-05-18 04:42] DennisMuchiri commented on #106
After much trials I discovered you have to re-initialize the shared preferences plugin after entering isolate
Using these two plugins; add to pubspec.yaml

`  shared_preferences_ios:
  shared_preferences_android:`

 In your isolate function

 `if (Platform.isAndroid) {
    SharedPreferencesAndroid.registerWith();
  } else if (Platform.isIOS) {
    SharedPreferencesIOS.registerWith();
  }`

 Closin

[2022-05-18 04:42] #106 closed

[2022-05-25 19:16] frank06 opened #107 "`killAll()` sends the main isolate into an unknown state"
[code]

The string "done" never gets printed, execution halted (but not paused) and with no exceptions.

Why do I want to kill all isolates when starting the app? Because my isolate is a long-running one (doesn't `kill()` itself) and I don't want zombie isolates accumulating every time I hot restart.  Flutter has no known callback to execute code just before a hot restart.

Versions:
 - `flutter`:

[2022-05-25 19:19] frank06 commented on #107
Found a workaround:

[code]

[2022-05-25 19:22] frank06 commented on #94
You can use the instance returned by `await FlutterIsolate.spawn(isolate1, "hello");` and then call `kill()` on that.

The main problem would be: where do you call `stopIsolate()`?

I am using the `killAll()` API at app start, not without its problems: https://github.com/rmawatson/flutter_isolate/issues/107

[2022-05-26 11:38] svarlet opened #108 "Support naming each isolate"
Hi,

I see that `Isolate.spawn(...)` enables naming the isolate for debug and tooling purposes:
https://api.dart.dev/stable/2.17.0/dart-isolate/Isolate/spawn.html

Is this also possible when we use this package?

[2022-05-26 11:44] VTapp1 commented on #21
For anyone still looking for an answer, no the isolate is also killed when the app is killed. This is not a bug or problem with the package, it's just how isolates work, for now. I hope Flutter would have a better solution for background work in the future.

[2022-05-27 03:55] svarlet commented on #21
I believe that some (entitled?) people are asking (angrily?) for this package instead: https://pub.dev/packages/workmanager.
FlutterIsolate does what it says on the tin.

[2022-06-01 11:05] EA-YOUHOU commented on #107
Same issue, I notice that even with isolate instance, isolate.kill(priority: Isolate.immediate); didn't work when isolate got a while / recursive inside... Kill not working.

[2022-06-03 08:44] Asored-D opened #109 "Isolate spawns only once"
Hi there, for some reason my Isolate spawns only once. After running the app it fires. But after each Hot Restart nothing happens.

Here is my code:

[code]

[code]

On the first app start I get the `Done` console log and the data result from the isolate. After each Hot Reload or Hot Restart it hangs on `spawning isolate` and I never get data from the listener.

By the way: I'm using the version `

[2022-06-03 09:04] nmfisher commented on #109
I have a feeling that hot restarts reinstantiate the main FlutterEngine but the flutter_isolate lifecycle listener doesn't recreate the appropriate channels, so those spawn messages go nowhere.

This is probably fixable.

[2022-06-03 09:05] nmfisher commented on #108
Should be feasible.

[2022-06-03 09:08] nmfisher commented on #107
These both look like the method channel just doesn't report back appopriately, looks easily fixable.

[2022-06-03 09:09] Asored-D commented on #109
Thanks very much for the fast reply! Because I had to fix the Hot Restart Crashing bug manually (the pull request already was a null safety version), I have a local version of the plugin. What do you think how that issue can be fixed? It is a hard task? :)

[2022-06-03 09:22] nmfisher commented on #109
Which platform are you using (Android)? I will see if I can fix and you can help me test.

[2022-06-03 09:28] Asored-D commented on #109
With pleasure :) I'm working on iOS and I test on a real device.

[2022-06-03 11:36] nmfisher commented on #109
Can you create/share a repository with your sample code so I can easily reproduce the issue?

[2022-06-03 13:57] nmfisher commented on #109
That's fine, I meant can you create a new Flutter app and add the code you pasted so I can just clone and run straight away.

[2022-06-03 19:00] Asored-D commented on #109
I've created a repository with a new Flutter project with the same dependency situation as my live project. I get the same error. You can clone the following project: https://github.com/Asored-D/flutter-isolate-debug

Thanks! :)

[2022-06-04 05:39] nmfisher commented on #109
I can't actually get that to run with Flutter 1.20.1 but at least I can reproduce the issue on later versions of Flutter.

What happens if you change:

[code]
to
[code]

That fixes the issue for me but I don't know if that will apply to older versions of Flutter.

[2022-06-04 05:43] nmfisher commented on #105
Unfortunately due to the way that `flutter_isolate` creates new isolates (by creating a new FlutterEngine), many plugins will have incompatibilities that have to be addressed on the plugin side (or at least with workarounds like the one @DennisMuchiri posted). There's not much that can be done on the `flutter_isolate` side and this is unlikely to change in the near future.

@Christer-Muntean does

[2022-06-04 07:42] Asored-D commented on #109
Great. It works with your solution. Many thanks. Thats really elegant. Is this also needed on a release version? (There no Hot Restarting exists). What do you think? Do I have performance problems or something else removing the port mapping each time I run the function?

[2022-06-04 09:05] nmfisher commented on #109
This isn’t an issue with flutter_isolate, it looks like the underlying IsolateNameServer isn’t clearing registered ports on a hot restart. If you read the documentation for registerPortWithName you’ll see that it should return false if a port cannot be mapped - I suspect if you check this value in your original code, it was returning false after the hot restart.

I doubt you need this specific wor

[2022-06-09 10:02] taimoor522 opened #110 "Flahlight is not turning on inside isolate"
I want to turn on and off flashlight inside a timer.periodic but flash is not turning on....?

[code]

[2022-06-10 06:41] nmfisher commented on #110
Probably the same recurring issue with incompatible plugins. This is unlikely to be fixed in the near term, but can you post a link to the torchlight Android/iOS plugin code for future reference.

[2022-06-10 06:41] #109 closed

[2022-06-10 14:23] WithToken opened #111 "On the iOS platform,How to share data using flutter_isolate"
Hi, On the iOS platform, I use `FlutterEngineGroup` to create multiple engines, can I use `flutter_isolate` for data communication? Thanks.

[2022-06-24 13:17] eduardothiesen opened #112 "Saving data to Firestore not working ONLY ON PRODUCTION"
Hi,

I'm using the FlutterIsolates to save mass data to my Firestore server. When I test it running from Android Studio, it works perfectly. But, when I send it to Internal Test, the data never reaches the firestore server.

[code]

Any ideas what I may be doing wrong? Thanks in advance.

[2022-06-24 14:32] eduardothiesen commented on #112
@nmfisher yes, they work outside the isolate in production. Inside only when debbuging

[2022-06-24 14:38] eduardothiesen commented on #112
Here's my flutter doctor (obs: I also tested in stable branch, same issue)

[code]

And pub spec

[code]

[2022-06-24 20:16] eduardothiesen commented on #112
@nmfisher thanks for the suggestion. I tried now and received the following error:
`Unhandled Exception: [core/no-app] No Firebase App '[DEFAULT]' has been created - call Firebase.initializeApp()`

[2022-06-25 03:31] nmfisher commented on #112
Do you have authentication set up on your Firebase database, and if so, how/where in the app are you authenticating?

[2022-06-25 21:32] eduardothiesen commented on #112
Yes, I have authentication set up.
When the user opens the app a listener checks the firebase credentials and if they are not valid, routes the user to the auth screen.
It does not happen inside an isolate though

[2022-06-28 14:18] nmfisher commented on #112
Sorry I did reply to this via e-mail but it looks like GitHub didn't put it through.

Can you try manually authenticating to Firebase inside the same isolate before saving the data?

[2022-06-30 18:48] eduardothiesen commented on #112
Hi @nmfisher. That happened to me too ;D

I'll test that as soon as I can. But I don't see this working in a real scenario, since I have authentication via phone number, email and social networks.

[2022-07-05 22:24] mal33k-eden opened #113 "Library not found in ISO release mode"
Hello i am using the flutter_isolate plugin to call some apis and update sqflite db on the mobile app.Everything works as expected when tested in debug mode but when in release mode i get this errors in xcode:
[code]

i am not sure what the challenge is.
<img width="1050" alt="Screenshot 2022-07-05 at 15 23 39" src="https://user-images.githubusercontent.com/21183898/177427052-e844154b-8565-4f30-88

[2022-07-06 16:10] mal33k-eden commented on #113
i am spawning it in a service class.

service.dart

[code]

i am calling `AssetStreamer().refreshAssetBalance` in the initState of certain views

[2022-07-08 14:21] nmfisher commented on #113
Can you reproduce this in a standalone project? It looks like a local project issue (have you tried running flutter clean and running outside Xcode?)

[2022-07-09 00:24] nmfisher commented on #112
That was not a solution, it was a debugging step to check whether authenticating to a Firebase instance outside an isolate also authenticates to the instance inside the isolate (I suspect it doesn't).  I will leave this open so if anyone has a similar problem in future, please try this first and report here.

[2022-07-24 02:30] sagar448 commented on #107
Okay so has this been solved yet? Facing the same issue, and now don't know if device has multiple isolates running...

[2022-08-19 21:59] fred-derf commented on #113
I have the same issue trying to use this as well on android in release mode, debug and profile work great.  Release or release via flutter build apk has the same error:

E/flutter ( 6069): [ERROR:flutter/shell/common/shell.cc(93)] Dart Error: Dart_LookupLibrary: library 'package:flutter_isolate/flutter_isolate.dart' not found.
E/flutter ( 6069): [ERROR:flutter/runtime/dart_isolate.cc(668)] Could n

[2022-08-20 03:37] fred-derf commented on #113
Making the test it seems impossible not to make this happen, just use the example code and run it release mode on android.

That said I have workaround --

When you spawn -- check if the return code of the spawn -- if it's null -- you hit this bug, simply rerun it and it works!

[2022-08-20 14:11] gb1849 opened #115 "Missing plugin exception iOS"
MissingPluginException(No implementation found for method spawn_isolate on channel com.rmawatson.flutterisolate/control)

[2022-08-20 15:07] fred-derf commented on #113
This happens with any example, even the simplest possible example when running in release mode on a physical android device but doesn't happen in flutter channel stable.

Flutter channel beta and master are currently broken and will throw this error.

[2022-08-20 20:12] fred-derf commented on #113
Obfuscation also causes the same error with flutter channel stable:

E/flutter (10321): [ERROR:flutter/shell/common/shell.cc(93)] Dart Unhandled Exception: NoSuchMethodError: No top-level getter '_Lee' declared.
E/flutter (10321): Receiver: top-level
E/flutter (10321): Tried calling: _Lee, stack trace: Warning: This VM has been configured to produce stack traces that violate the Dart standard.
E/f

[2022-08-27 21:30] samiulllah opened #116 "Flutter : Module 'flutter_isolate' not found"
I've used flutter isolate android version is working in debugging and release but the iOS version is only working in debugging for release it throws an error i.e. /ios/Runner/GeneratedPluginRegistrant.m:42:9: Module 'flutter_isolate' not found.

[2022-09-01 16:49] mterenzi opened #117 "Flutter Release Android Build: library 'package:flutter_isolate/flutter_isolate.dart' not found."
I just upgraded my flutter SDK from version 3.0.5 to 3.3.0 this morning and now I am unable to call isolates when building in release mode for Android. This behavior does not occur in debug builds. I have not tested on iOS.

Error:

Building with Flutter multidex support enabled.
√  Built build\app\outputs\flutter-apk\app-release.apk (20.7MB).
E/flutter (12471): [ERROR:flutter/shell/common/shell.c

[2022-09-01 16:59] Thesmader commented on #117
I also faced this same issue today. I am using [isolate_handler](https://pub.dev/packages/isolate_handler) which depends on this plugin. The isolate creation fails in release mode:

[code]

[2022-09-01 17:02] mterenzi commented on #117
I am also using that package due to its ability to make platform dependent calls. Are you also experiencing this on iOS by any chance?

[2022-09-02 20:33] mterenzi commented on #117
After doing some more research, it seems to be an issue with Flutter's obfuscation pass during a release build. I'm not 100% sure on that, but that's my best working theory. Not sure how to fix that, though.

[2022-09-05 06:17] Coder-Manuel commented on #117
I also got the same challenge with the builds from my pipeline which use the latest flutter version.
A quick fix for me was to downgrade to flutter version 3.0.5.

[2022-09-05 13:57] srmanc commented on #113
Maybe it is related to this?
https://github.com/dart-lang/sdk/issues/49181

[2022-09-06 09:47] srmanc commented on #117
This PR should fix it. https://github.com/rmawatson/flutter_isolate/pull/118

[2022-09-06 09:48] srmanc commented on #113
This PR should fix it. https://github.com/rmawatson/flutter_isolate/pull/118

[2022-09-06 09:48] srmanc commented on #112
Try this PR, it might fix it. https://github.com/rmawatson/flutter_isolate/pull/118

[2022-09-06 17:21] mterenzi commented on #117
PR fixed the issue for me. Will close issue when officially merged.

[2022-09-07 10:23] srmanc opened #119 "Is this plugin still actively supported?"
Title says it all - is this plugin still actively supported?

There are at least two PRs which need to me merged and unbreak a lot of functionality (and even unbreak basic behaviour with production builds with flutter 3.x).

Especially:
https://github.com/rmawatson/flutter_isolate/pull/93
https://github.com/rmawatson/flutter_isolate/pull/118

@rmawatson Please take a look and merge. Or please let

[2022-09-07 11:04] nmfisher commented on #119
Yes I have taken over maintenance but I can’t respond to issues straight away. I’ll review those new PRs soon.

[2022-09-07 12:05] srmanc commented on #119
@nmfisher Thank you for the clarification and many thanks for taking over.

[2022-09-13 03:57] rlueders opened #120 "Calling FlutterIsolate.kill() crashes an iphone 12 pro max in release mode"
Calling FlutterIsolate.kill()or FlutterIsolate.killAll() crashes the entire app on a iphone 12 pro max in release mode (but works fine in debug or profile). No errors in the log because it only happens in release. I have also tested on an iphone 7 and kill/killAll works fine in release (as well as debug and profile). Both iphones are running ios 15.7. I don't see the crash on any of my android dev

[2022-09-16 21:40] rlueders commented on #119
I dont think anyone is look for a straightaway response, but  one of those issues is almost a year old. This package is basically useless with all of these bugs.   I just opened #120 yesterday which causes the app to crash hard on a modern IOS device when when any isolate is killed.  I dont know how anyone can use a package in this state.

[2022-09-16 23:16] #119 closed

[2022-09-16 23:26] nmfisher commented on #120
@rlueders does this happen with the example app?

[2022-09-16 23:35] nmfisher commented on #116
@samiulllah does this happen with the example app? Usually when I see that error it's due to broken XCode/CocoaPods project files.

[2022-09-17 01:28] rlueders commented on #120
Im not sure about the example app, but I just tested with [PR93](https://github.com/rmawatson/flutter_isolate/pull/93/commits) and it appears to have fixed this behavior.  So, this issue can probably be closed with that PR. Thanks!

[2022-09-17 02:14] mterenzi commented on #117
Pull request has been merged. Waiting on pub version update and example documentation update to refrence the new pragma decorator requirement.

[2022-09-17 03:01] #120 closed

[2022-09-18 12:18] rlueders opened #122 "Calling FlutterIsolate.kill() crashes an iphone 12 pro max in release mode"
I opened the [ same issue ](https://github.com/rmawatson/flutter_isolate/issues/120)  a few days ago.  Yesterday, I thought I would I would try a few of the PRs to see if they happened to fix the crash.  I thought [PR93](https://github.com/rmawatson/flutter_isolate/pull/93/commits) fixed the crash, so we closed the original issue yesterday.   However, I must have been running in debug, because the

[2022-09-23 21:26] deadsoul44 commented on #112
I have the same problem. The app is working in debug model but not in release mode. Could you please publish a new version with the proposed fix?

[2022-10-05 11:51] brun0xon opened #123 "library 'package:flutter_isolate/src/compute.dart' not found"
flutter_isolate: ^2.0.3
Flutter 3.3.3
Android 12

Hello.
Tried to use flutterCompute() function. In debug it perfectly works, but when dealing with release, then getting this error:
`[ERROR:flutter/shell/common/shell.cc(93)] Dart Error: Dart_LookupLibrary: library 'package:flutter_isolate/src/compute.dart' not found.`

A function, that passed to flutterCompute(), is top-level and annotated with `@

[2022-10-05 14:32] nmfisher commented on #123
Did you decorate your function with @pragma('vm:entry-point')

?

[2022-10-05 15:42] brun0xon commented on #123
Yes, I wrote and example above

[2022-10-06 05:15] ozexpert opened #124 "Any support for LoadBalancer??"
https://github.com/humblerookie/isolate-demo/blob/main/lib/services/load_balancer.dart
it would be nice to leverage using the isolate's LoadBalancer API that allows to create and manage pool of isolates.

[2022-10-06 11:51] nmfisher commented on #124
PRs are most welcome :)

[2022-10-06 23:55] ozexpert commented on #124
I'd love to if I know dart well, but apparently, I'm not. anyone?

[2022-10-07 00:50] nmfisher commented on #123
Can you reproduce this in a standalone sample project?

Also it might be worth trying the following release configuration in `build.gradle`:

[code]

I've recently (> Flutter 3.x) started having trouble with plugins on Android not working in in release mode. Seems the plugin registration method lookup isn't working due to some kind of symbol minification.

[2022-10-07 23:00] jaysignorello commented on #123
Also having similar issues with `flutterCompute` in flutter 3.3.4 and iOS. The call just hangs and never completes. Worked fine with flutter 3.0.5 and earlier version of this package.

[2022-10-11 08:11] eduardothiesen commented on #112
Yes, I have authentication set up.
When the user opens the app a listener checks the firebase credentials and
if they are not valid, routes the user to the auth screen.

Em sáb., 25 de jun. de 2022 00:31, Nick Fisher ***@***.***>
escreveu:

[2022-10-11 14:12] abdalmonem commented on #123
i also facing the same issue , and i do added 'shrinkResources' and 'minifyEnabled' but isnt solve

[2022-10-11 14:21] brun0xon commented on #123
+1

[2022-10-12 05:50] brun0xon commented on #123
Solved by adding `@pragma('vm:entry-point')` to functions `flutterCompute()` and `_isolateMain()` in file compute.dart. Please, publish fix as soon as possible.

[2022-10-12 06:16] abdalmonem commented on #123
@brun0xon  if you mean addding `@pragma('vm:entry-point')` to the top level function i would say its also doesnt work

[2022-10-16 08:18] mterenzi commented on #117
Pub version released. Closing issue,

[2022-10-16 08:18] #117 closed

[2022-10-22 01:53] tneotia commented on #122
I'm getting a crash in release mode but on Android - Flutter 3.3.4.

[2022-10-24 17:43] jamesdixon commented on #73
Is this still a thing?

[2022-11-03 20:58] jopmiddelkamp commented on #123
The project below results in the error when building on Flutter 3.3.6 and running in release mode.
[flutter_isolate_issue.zip](https://github.com/rmawatson/flutter_isolate/files/9932913/flutter_isolate_issue.zip)

This seems to solve the issue in the example above. When I copy the code from the master branch into the project and add the @pragma on those methods everything seems to work fine.

[2022-11-08 16:59] ziggycrane commented on #123
How is it possible this hasn't been solved for more than a month even though people here showed how to fix it?

[2022-11-08 22:37] nmfisher commented on #123
@ziggycrane are you offering to pay me to fix this?

[2022-11-12 04:40] nmfisher opened #128 "Investigate whether this plugin is still required"
Per https://github.com/flutter/flutter/issues/13937#issuecomment-1258766459, Flutter now seems to have support for running plugin code in background isolates, which would render this plugin redundant.

This is apparently merged into Flutter master (not yet stable as of 12 November 2022) - I don't have much free time so would appreciate someone investigating further to see if this is correct.

[2022-11-12 06:02] nmfisher commented on #123
Merged in #126

[2022-11-12 06:02] #123 closed

[2022-11-12 06:05] nmfisher commented on #112
@eduardothiesen we've recently published fixes for issues running Flutter > 3.3 in release mode, can you advise if these have fixed your issue?

[2022-11-25 12:39] maxmitz opened #129 "Flutter_Isolate not working on iOS in release mode"
I used flutter_isolate with the [video_compress](https://pub.dev/packages/video_compress) plugin to compress a video in the background. For Android, it always works. For iOS, it only works in the debug mode but not in release mode.

I did not add the code so far because it is a lot of code to reproduce (video recording, saving, then the compress, multiple screens). I will try to publish here a sma